tamrin 13 http request/flows.json
[
    {
        "id": "365535fbe871ce9b",
        "type": "tab",
        "label": "tamrin 13 http request",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e3ed5f3f131271f4",
        "type": "template",
        "z": "365535fbe871ce9b",
        "name": "kashan uni",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "\n\n<!DOCTYPE html>\n\n<html lang=\"en\">\n<head>\n    <meta charset=\"UTF-8\"/>\n    <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n    <meta‬‬ name=\"fontiran.com:license‬‬\" content=\"TLBF3\" ‫>\n\n    <link rel=\"shortcut icon\" href=\"/file/download/website/1544255791-favicon.ico\" type=\"image/x-icon\" />\n    <meta name=\"csrf-param\" content=\"_csrf\">\n<meta name=\"csrf-token\" content=\"0sln521Yjax0OKLdrcfcLZa1CY57gYOvHF5TDp6KPhCUvl-KFy3f5BZ86b_ao7Zu4fp40TTD8dlELDpryNVoVg==\">\n    <title>University of Kashan</title>\n    <meta name=\"keywords\" content=\"دانشگاه کاشان , دانشگاه دولتی کاشان \">\n<meta name=\"description\" content=\"وب سایت رسمی دانشگاه دولتی کاشان شامل معرفی دانشگاه , دانشکده ها و کلیه موسسات و سازمانهای زیرمجموعه دانشگاه\">\n<meta property=\"og:description\" content=\"وب سایت رسمی دانشگاه دولتی کاشان شامل معرفی دانشگاه , دانشکده ها و کلیه موسسات و سازمانهای زیرمجموعه دانشگاه\">\n<meta property=\"og:title\" content=\"University of Kashan\">\n<meta property=\"og:image\" content=\"https://kashanu.ac.ir/images/www/en/website/open-graph/2023/65782502a7c03-header-1-.png?language=en\">\n<meta property=\"og:site_name\" content=\"University of Kashan\">\n<meta name=\"developer\" content=\"Architects of Communication Age Company\">\n<meta name=\"theme-name\" content=\"kashanEn\">\n<link href=\"/assets/3738e528/css/bootstrap.min.css?v=1713014612\" rel=\"stylesheet\">\n<link href=\"/assets/5f10ff7/css/helpers.css?v=1713014613\" rel=\"stylesheet\" media=\"all\">\n<link href=\"/assets/361fefd9/css/font-awesome.min.css?v=1713014613\" rel=\"stylesheet\">\n<link href=\"/assets/b06e0ed7/css/styles.css?v=1713014612\" rel=\"stylesheet\">\n<link href=\"/assets/b3255c9e/styles.css?v=1713014612\" rel=\"stylesheet\">\n<link href=\"/assets/b3255c9e/ltr.css?v=1713014612\" rel=\"stylesheet\">\n<link href=\"/assets/835212c6/dist/assets/owl.carousel.min.css?v=1713014636\" rel=\"stylesheet\">\n<link href=\"/assets/835212c6/dist/assets/owl.theme.default.css?v=1713014636\" rel=\"stylesheet\">\n<link href=\"/assets/efb576ab/css/select2.min.css?v=1713014613\" rel=\"stylesheet\">\n<link href=\"/assets/638585eb/css/select2-addl.min.css?v=1713014613\" rel=\"stylesheet\">\n<link href=\"/assets/638585eb/css/select2-krajee.min.css?v=1713014613\" rel=\"stylesheet\">\n<link href=\"/assets/63566996/css/kv-widgets.min.css?v=1713014613\" rel=\"stylesheet\">\n<link href=\"/assets/2e09a3cf/css/profile.css?v=1713014613\" rel=\"stylesheet\">\n<link href=\"/assets/2e09a3cf/css/profile-edit.css?v=1713014613\" rel=\"stylesheet\">\n<link href=\"/assets/2e09a3cf/css/forgot-password.css?v=1713014613\" rel=\"stylesheet\">\n<link href=\"/assets/fb4457f3/yamm3/yamm/yamm.css?v=1713014613\" rel=\"stylesheet\">\n<link href=\"/assets/fb4457f3/css/dropdownSubmenuPolyfill.css?v=1713014613\" rel=\"stylesheet\">\n<style>\n\t.achiv-carousel- {\n\t\tbackground-color: ;\n\t}\n\t</style>\n<style>\n    .alert-container{\n        position: fixed;\n        top: 0;\n        z-index: 2000000!important;\n    }\n</style>\n<script src=\"https://www.googletagmanager.com/gtag/js?id=UA-110224700-1\" async></script>\n<!--[if IE]>\n<script src=\"/assets/a7a9c498/js/html5shiv.js?v=1713014613\"></script>\n<![endif]-->\n<!--[if IE]>\n<script src=\"/assets/a7a9c498/js/respond.min.js?v=1713014613\"></script>\n<![endif]-->\n<script>var s2options_d6851687 = {\"themeCss\":\".select2-container--krajee\",\"sizeCss\":\"\",\"doReset\":true,\"doToggle\":false,\"doOrder\":false};\nwindow.select2_1f7b788e = {\"theme\":\"krajee\",\"width\":\"100%\",\"placeholder\":\"Choose College \\/ Department\",\"language\":\"en\"};\n\n\n            window.dataLayer = window.dataLayer || [];\n            function gtag(){dataLayer.push(arguments);}\n            gtag('js', new Date());\n            gtag('config', 'UA-110224700-1');\n        \nwindow.select2_26437cd1 = {\"theme\":\"krajee\",\"width\":\"100%\",\"placeholder\":\"Choose website\",\"language\":\"en\"};\n</script></head>\n<body>\n        \n<div id=\"widget-config-modal\" class=\"fade modal\" role=\"dialog\" tabindex=\"-1\">\n<div class=\"modal-dialog \">\n<div class=\"modal-content\">\n<div class=\"modal-header\">\n<button type=\"button\" class=\"close\" data-dismiss=\"modal\" aria-hidden=\"true\">&times;</button>\n<h3>تنظیمات ویجت</h3>\n</div>\n<div class=\"modal-body\">\n<div class=\"modal-inner\"></div>\n\n</div>\n<div class=\"modal-footer\">\n<button type=\"button\" class=\"btn btn-default\" data-dismiss=\"modal\">انصراف</button>\n<button id=\"submit-widget-config\" type=\"button\" class=\"btn btn-success\">ذخیره تنظیمات</button>\n</div>\n</div>\n</div>\n</div><header class=\"main-header\">\n    <div class=\"container\">\n        <div class=\"row\">\n            <div class=\"col-xs-8 logo-wrapper\">\n                <a href=\"https://kashanu.ac.ir\">\n                    <img class=\"static-logo img-responsive\" src=\"/assets/b06e0ed7/images/logo.png\" width=\"92\" height=\"80\" alt=\"University of Kashan\">                </a>\n                <a class=\"logo hidden-xs\" href=\"https://kashanu.ac.ir/en\">\n                    <img class=\"img-responsive center-block site-logo\" src=\"/images/www/en/website/site-logo/2023/65782502a7c03-header-1-.png\" width=\"506\" height=\"65\" alt=\"University of Kashan\">                </a>\n            </div>\n            <div class=\"col-xs-4\">\n                <div class=\"col-xs-12\">\n                    <!-- SimpleMenu --> \n\n<div class=\"menu-widget-simple widget \">\n        <ul class=\" list-inline Lang-menu line-list list-unstyled\">\n\n                    <li class=\"medium-font normal-font-weight\">\n                                <a class=\" \" href=\"https://kashanu.ac.ir/fa\" target=\"_self\">فارسی</a>            </li>\n                        </ul>\n</div>\n                    <div class=\"register-login\">\n                            \n\t<a\n    href=\"https://kashanu.ac.ir/en/user/auth/login\"\n    class=\"btn login-modal-btn\"\n>\n    Sign In</a>    |\n    <a\n    href=\"https://kashanu.ac.ir/en/user/register\"\n    class=\"btn register-modal-btn\"\n>\n    Sign Up</a>                    </div>\n                </div>\n\n                <div class=\"search-bar-wrapper col-xs-12\">\n                    <div class=\"search-bar\">\n                        \n<form action=\"https://kashanu.ac.ir/en/search\" method=\"get\"><div class=\"input-group\">\n    <div class=\"input-group-btn\">\n        <button type=\"submit\" class=\"btn btn-default\"><i class=\"fa fa-search\"></i></button>    </div>\n    <input type=\"text\" class=\"form-control\" name=\"query\"></div>\n\n</form>                    </div>\n                </div>\n            </div>\n        </div>\n        <div class=\"row\">\n            <div class=\"col-xs-12\">\n                <div class=\"RapidLinks\">\n                    <a class=\"btn btn-primary\" role=\"button\" data-toggle=\"collapse\" href=\"#collapse-menu\">\n                        <i class=\"fa fa-reorder\"></i>\n                        <span>\n                            Rapid Links                        </span>\n                    </a>\n                </div>\n                <div  class=\" collaps-show collapse collapse-menu-wrapper\" id=\"collapse-menu\">\n                    <div class=\"collaps-main-box clearfix\">\n                        <div class=\"collaps-menu-box customScrollbar2\">\n                            <!-- SimpleMenu --> \n\n<div class=\"menu-widget-simple widget \">\n        <ul class=\" list-unstyled list-unstyled\">\n\n                    <li class=\"medium-font normal-font-weight\">\n                                <a class=\" \" href=\"https://kashanu.ac.ir/en/page/1715/admission\" target=\"_self\">Admission</a>            </li>\n                                <li class=\"medium-font normal-font-weight\">\n                                <a class=\" \" href=\"https://kashanu.ac.ir/en/page/1770/academic-calendar\" target=\"_self\">Academic Calendar</a>            </li>\n                        </ul>\n</div>\n                        </div>\n                        <div class=\"collaps-menu-box customScrollbar2\">\n                            <!-- SimpleMenu --> \n\n<div class=\"menu-widget-simple widget \">\n        <ul class=\" list-unstyled list-unstyled\">\n\n                    <li class=\"medium-font normal-font-weight\">\n                                <a class=\" \" href=\"https://kashanu.ac.ir/en/page/245/faculties\" target=\"_self\">Faculties</a>            </li>\n                                <li class=\"medium-font normal-font-weight\">\n                                <a class=\" \" href=\"https://kashanu.ac.ir/en/page/1712/academic-staff\" target=\"_self\">Academic Staff</a>            </li>\n                        </ul>\n</div>\n                        </div>\n                        <div class=\"collaps-menu-box customScrollbar2\">\n                            <!-- SimpleMenu --> \n\n<div class=\"menu-widget-simple widget \">\n        <ul class=\" list-unstyled list-unstyled\">\n\n                    <li class=\"medium-font normal-font-weight\">\n                                <a class=\" \" href=\"https://kashanu.ac.ir/en/page/1689/chancellor\" target=\"_self\">Chancellor</a>            </li>\n                                <li class=\"medium-font normal-font-weight\">\n                                <a class=\" \" href=\"https://kashanu.ac.ir/en/page/1716/international-scientific-cooperation-office\" target=\"_self\">International Scientific Cooperation Office</a>            </li>\n                        </ul>\n</div>\n                        </div>\n                        <div class=\"collaps-menu-box customScrollbar2\">\n                            <!-- SimpleMenu --> \n\n<div class=\"menu-widget-simple widget \">\n        <ul class=\" list-unstyled list-unstyled\">\n\n                    <li class=\"medium-font normal-font-weight\">\n                                <a class=\" \" href=\"http://kashanu.ac.ir/www/en/album\" target=\"_self\">Photo Gallery</a>            </li>\n                                <li class=\"medium-font normal-font-weight\">\n                                <a class=\" \" href=\"http://kashanu.ac.ir/www/en/contactus\" target=\"_self\">Contact Us</a>            </li>\n                        </ul>\n</div>\n                        </div>\n                    </div>\n                </div>\n            </div>\n        </div>\n    </div>\n    <div class=\"main-menu\">\n        <div class=\"container\">\n            <nav id=\"wfc6aa0cd0f55295700244751e6ae3e9c0\" class=\"yamm col-xs-12 col-sm-12 col-ls-9 navbar\"><div class=\"navbar-header\"><button type=\"button\" class=\"navbar-toggle\" data-toggle=\"collapse\" data-target=\"#wfc6aa0cd0f55295700244751e6ae3e9c0-collapse\"><span class=\"sr-only\">Toggle navigation</span>\n<span class=\"icon-bar\"></span>\n<span class=\"icon-bar\"></span>\n<span class=\"icon-bar\"></span></button><a class=\"navbar-brand\" href=\"https://kashanu.ac.ir/en\"><img class=\"img-responsive\" src=\"/assets/b06e0ed7/images/smalllog.png\" width=\"60\" height=\"52\" alt=\"University of Kashan\"></a></div><div id=\"wfc6aa0cd0f55295700244751e6ae3e9c0-collapse\" class=\"collapse navbar-collapse\">            <!-- MegaMenu --> \n\n    <ul class=\"nav navbar-nav\">\n                                    <ul id=\"wfc6aa0cd0f55295700244751e6ae3e9c1\" class=\"navbar-nav nav\" style=\"position:relative;\"><li class=\"dropdown\"><a class=\"dropdown-toggle\" href=\"/page/front/view?language=en\" data-toggle=\"dropdown\">About <span class=\"caret\"></span></a><ul id=\"wfc6aa0cd0f55295700244751e6ae3e9c2\" class=\"dropdown-menu\"><li><a href=\"https://kashanu.ac.ir/en/page/1684/university-at-a-glance\" tabindex=\"-1\">University at a Glance</a></li>\n<li><a href=\"https://kashanu.ac.ir/en/page/1685/vision\" tabindex=\"-1\">Vision</a></li>\n<li><a href=\"https://kashanu.ac.ir/virtual-tour/tour.html\" tabindex=\"-1\">Virtual Tour</a></li>\n<li><a href=\"https://kashanu.ac.ir/en/page/1687/city-of-kashan\" tabindex=\"-1\">City of Kashan</a></li>\n<li><a href=\"https://kashanu.ac.ir/en/page/1688/maps-and-access\" tabindex=\"-1\">Maps and Access</a></li>\n<li><a href=\"https://kashanu.ac.ir/en/grid/216/benefactors-of-university-of-kashan\" tabindex=\"-1\">Benefactors</a></li>\n<li><a href=\"https://kashanu.ac.ir/en/organizationChart/492/organizational-chart-at-the-university-of-kashan\" tabindex=\"-1\">Organizational Chart</a></li>\n<li class=\"dropdown-submenu\"><a href=\"/page/front/view?language=en\" tabindex=\"-1\">Board of Trustees</a><ul class=\"dropdown-menu\"><li><a href=\"https://kashanu.ac.ir/en/page/1752/members-of-permanent-commission\" tabindex=\"-1\">Members of the Permanent Committee</a></li>\n<li><a href=\"https://kashanu.ac.ir/en/page/1751/members-of-board-of-trustees\" tabindex=\"-1\">Members of the Board of Trustees</a></li></ul></li></ul></li></ul>                                                <ul id=\"wfc6aa0cd0f55295700244751e6ae3e9c3\" class=\"navbar-nav nav\" style=\"position:relative;\"><li class=\"dropdown\"><a class=\"dropdown-toggle\" href=\"https://kashanu.ac.ir/en/page/1689/chancellor\" data-toggle=\"dropdown\">Chancellor <span class=\"caret\"></span></a><ul id=\"wfc6aa0cd0f55295700244751e6ae3e9c4\" class=\"dropdown-menu\"><li><a href=\"https://kashanu.ac.ir/en/page/1689/chancellor\" tabindex=\"-1\">Chancellor of University of Kashan</a></li>\n<li class=\"dropdown-submenu\"><a href=\"/page/front/view?language=en\" tabindex=\"-1\">Office of the Chancellor</a><ul class=\"dropdown-menu\"><li><a href=\"https://kashanu.ac.ir/en/page/1756/public-relations\" tabindex=\"-1\">Public Relations</a></li>\n<li><a href=\"http://herasat.kashanu.ac.ir/fa\" tabindex=\"-1\">Security</a></li>\n<li><a href=\"https://kashanu.ac.ir/en/page/1759/secretariat\" tabindex=\"-1\">Secretariat</a></li>\n<li><a href=\"http://kashanu.ac.ir/fa/contents/Chancellor-Kashanu/Office-Lega/مشاور.رئیس.ومدیریت.امور.حقوقی،قراردادها.وپاسخ.گویی.به.شکایات.html\" tabindex=\"-1\">Legal Affairs and Contracts</a></li>\n<li><a href=\"http://pdm.kashanu.ac.ir/en\" tabindex=\"-1\">Planning and Development</a></li>\n<li><a href=\"https://intl.kashanu.ac.ir/en\" tabindex=\"-1\">International Scientific Cooperation Office</a></li></ul></li></ul></li></ul>                                                <ul id=\"wfc6aa0cd0f55295700244751e6ae3e9c5\" class=\"navbar-nav nav\" style=\"position:relative;\"><li class=\"dropdown\"><a class=\"dropdown-toggle\" href=\"/page/front/view?language=en\" data-toggle=\"dropdown\">Faculties <span class=\"caret\"></span></a><ul id=\"wfc6aa0cd0f55295700244751e6ae3e9c6\" class=\"dropdown-menu\"><li><a href=\"https://human-science.kashanu.ac.ir/en/page/900/about-faculty\" tabindex=\"-1\">Faculty of Humanities</a></li>\n<li><a href=\"http://physics.kashanu.ac.ir/en\" tabindex=\"-1\">Faculty of Physics</a></li>\n<li><a href=\"http://archart.kashanu.ac.ir/en\" tabindex=\"-1\">Faculty of Architecture and Arts</a></li>\n<li><a href=\"https://mechanic.kashanu.ac.ir/en\" tabindex=\"-1\">Faculty of Mechanical Engineering</a></li>\n<li><a href=\"http://math.kashanu.ac.ir/en\" tabindex=\"-1\">Faculty of Mathematics</a></li>\n<li><a href=\"https://literature.kashanu.ac.ir/en/page/485/about-faculty\" tabindex=\"-1\">Faculty of Literature And Foreign languages</a></li>\n<li><a href=\"https://chemistry.kashanu.ac.ir/en/page/890/programs\" tabindex=\"-1\">Faculty of Chemistry</a></li>\n<li><a href=\"https://ece.kashanu.ac.ir/en/page/719/about-faculty\" tabindex=\"-1\">Faculty of Electrical and Computer Engineering</a></li>\n<li><a href=\"https://fnres.kashanu.ac.ir/en/page/894/about-faculty\" tabindex=\"-1\">Faculty of Natural Resources and Earth Sciences</a></li>\n<li><a href=\"https://engineering.kashanu.ac.ir/en/page/487/about-faculty\" tabindex=\"-1\">Faculty of Engineering</a></li>\n<li><a href=\"https://oeec.kashanu.ac.ir/fa\" tabindex=\"-1\">Faculty of E-Learning</a></li>\n<li class=\"dropdown-submenu\"><a href=\"http://pardis.kashanu.ac.ir/en\" tabindex=\"-1\">Pardis Faculty</a><ul class=\"dropdown-menu\"><li><a href=\"https://azfa.kashanu.ac.ir/en\" tabindex=\"-1\">Center for Teaching Persian (AZFA)</a></li></ul></li></ul></li></ul>                                                <ul id=\"wfc6aa0cd0f55295700244751e6ae3e9c7\" class=\"navbar-nav nav\" style=\"position:relative;\"><li class=\"dropdown\"><a class=\"dropdown-toggle\" href=\"/page/front/view?language=en\" data-toggle=\"dropdown\">Vice-Chancellors <span class=\"caret\"></span></a><ul id=\"wfc6aa0cd0f55295700244751e6ae3e9c8\" class=\"dropdown-menu\"><li><a href=\"https://kashanu.ac.ir/en/page/1763/vice-chancellor-for-education\" tabindex=\"-1\">Vice-Chancellor for Education</a></li>\n<li><a href=\"https://kashanu.ac.ir/en/page/1765/vice-chancellor-for-research\" tabindex=\"-1\">Vice-Chancellor for Research</a></li>\n<li><a href=\"https://kashanu.ac.ir/en/page/1764/vice-chancellor-for-finance\" tabindex=\"-1\">Vice-Chancellor for Finance</a></li>\n<li><a href=\"https://development.kashanu.ac.ir/fa\" tabindex=\"-1\">Vice-Chancellor for Innovation and Economic Plans</a></li>\n<li><a href=\"http://student.kashanu.ac.ir/en\" tabindex=\"-1\">Vice-Chancellor for Socio-Cultural Activities and Students</a></li></ul></li></ul>                                                <ul id=\"wfc6aa0cd0f55295700244751e6ae3e9c9\" class=\"navbar-nav nav\" style=\"position:relative;\"><li class=\"dropdown\"><a class=\"dropdown-toggle\" href=\"http://international.kashanu.ac.ir//en\" data-toggle=\"dropdown\">International <span class=\"caret\"></span></a><ul id=\"wfc6aa0cd0f55295700244751e6ae3e9c10\" class=\"dropdown-menu\"><li><a href=\"http://intl.kashanu.ac.ir/en\" tabindex=\"-1\">International Scientific Cooperation Office</a></li>\n<li class=\"dropdown-submenu\"><a href=\"/page/front/view?language=en\" tabindex=\"-1\">Admission</a><ul class=\"dropdown-menu\"><li><a href=\"https://kashanu.ac.ir/en/page/2934/requirements\" tabindex=\"-1\">Requirements</a></li>\n<li><a href=\"https://kashanu.ac.ir/en/page/1769/forms\" tabindex=\"-1\">Forms</a></li>\n<li><a href=\"https://kashanu.ac.ir/en/page/1770/academic-calendar\" tabindex=\"-1\">Academic Calendar</a></li>\n<li><a href=\"https://kashanu.ac.ir/en/page/7390/faqs-for-international-students\" tabindex=\"-1\">FAQs for International Students</a></li></ul></li></ul></li></ul>                                                <ul id=\"wfc6aa0cd0f55295700244751e6ae3e9c11\" class=\"navbar-nav nav\" style=\"position:relative;\"><li class=\"dropdown\"><a class=\"dropdown-toggle\" href=\"/page/front/view?language=en\" data-toggle=\"dropdown\">Research <span class=\"caret\"></span></a><ul id=\"wfc6aa0cd0f55295700244751e6ae3e9c12\" class=\"dropdown-menu\"><li><a href=\"http://nano.kashanu.ac.ir/en\" tabindex=\"-1\">Nanoscience and Nanotechnology Research Center</a></li>\n<li><a href=\"http://eori.kashanu.ac.ir/en\" tabindex=\"-1\">Natural Essential Oils Research Center</a></li>\n<li><a href=\"http://crc.kashanu.ac.ir/en\" tabindex=\"-1\">Carpet Research Center</a></li>\n<li><a href=\"http://energy-research.kashanu.ac.ir/en\" tabindex=\"-1\">Energy Research Center</a></li>\n<li><a href=\"http://arch-research.kashanu.ac.ir/en\" tabindex=\"-1\">Research Center for Architecture and Urbanism</a></li>\n<li><a href=\"http://mpk.kashanu.ac.ir/en\" tabindex=\"-1\">Research Center for Kashan Studies</a></li>\n<li><a href=\"https://kashanu.ac.ir/en/page/4565/center-for-water-drought-and-climate-change\" tabindex=\"-1\">Center for Water, Drought, and Climate Change</a></li>\n<li><a href=\"https://csmart.kashanu.ac.ir/fa\" tabindex=\"-1\">Center for Research and Technology Development of Smart Network</a></li></ul></li></ul>                                                <ul id=\"wfc6aa0cd0f55295700244751e6ae3e9c13\" class=\"navbar-nav nav\" style=\"position:relative;\"><li class=\"dropdown\"><a class=\"dropdown-toggle\" href=\"/page/front/view?language=en\" data-toggle=\"dropdown\">Academic <span class=\"caret\"></span></a><ul id=\"wfc6aa0cd0f55295700244751e6ae3e9c14\" class=\"dropdown-menu\"><li><a href=\"https://kashanu.ac.ir/en/department/major\" tabindex=\"-1\">Courses A-Z</a></li>\n<li><a href=\"https://kashanu.ac.ir/en/page/1712/academic-staff\" tabindex=\"-1\">Academic Staff</a></li></ul></li></ul>                                                <ul id=\"wfc6aa0cd0f55295700244751e6ae3e9c15\" class=\"navbar-nav nav\" style=\"position:relative;\"><li><a href=\"https://kashanu.ac.ir/en/contactus\">Contact Us</a></li></ul>                                                <ul id=\"wfc6aa0cd0f55295700244751e6ae3e9c16\" class=\"navbar-nav nav\" style=\"position:relative;\"><li><a href=\"https://pooya.kashanu.ac.ir/gateway/PuyaAuthenticate.php\">Students Portal</a></li></ul>                        </ul>\n            </div></nav>        </div>\n    </div>\n</header>\n<div class=\"alert-container col-xs-12 col-md-6 col-md-offset-3 center-block text-center col-sm-9 col-sm-offset-2 p-x-10 m-t-5\">\n    </div>\n    \n<section class=\"big-slider-section\">\n    <!-- HomeSlider --> \n    <div class=\"row \">\n        <div class=\"col-xs-12 widget\">\n                        <div id=\"one-slide\" class=\" owl-carousel owl-theme\">\n                                    <div>\n                        <a href=\"https://kashanu.ac.ir/en/news/20595/back-to-school\"><img src=\"/images/www/en/news/home-slider-image/2022/1663558667-.jpg\" width=\"1140\" height=\"350\" alt=\"Back to School\"></a>                                                    <a href=\"https://kashanu.ac.ir/en/news/20595\"><div class='slider-img hidden-xs'></div></a>                    </div>\n                                    <div>\n                        <a href=\"https://kashanu.ac.ir/en/news/11619/university-of-kashan-first-in-2021-the-ranking\"><img src=\"/images/www/en/news/home-slider-image/2020/1599546719-banner.jpg\" width=\"1140\" height=\"350\" alt=\"University of Kashan, First in 2021 THE Ranking\"></a>                                                    <a href=\"https://kashanu.ac.ir/en/news/11619\"><div class='slider-img hidden-xs'></div></a>                    </div>\n                                    <div>\n                        <a href=\"https://kashanu.ac.ir/en/news/9775/apply-now-for-research-only-programs\"><img src=\"/images/www/en/news/home-slider-image/2019/1555317600-apply-now-banner.jpg\" width=\"1140\" height=\"350\" alt=\"Apply Now for Research Only Programs\"></a>                                                    <a href=\"https://kashanu.ac.ir/en/news/9775\"><div class='slider-img hidden-xs'></div></a>                    </div>\n                            </div>\n                    </div>\n    </div>\n\n    <div class=\"slider-bg hidden-xs\"></div>\n</section>\n<section class=\"event-news-box\">\n    <div class=\"bg-news\">\n        <div class=\"container\">\n            <div class=\"row\">\n                <div class=\"col-sm-8\">\n                    <!-- NewsList --> \n<div class=\"newslist-widget widget \">\n            <h4 class=\"title\">\n            <a href=\"https://kashanu.ac.ir/en/news/category/84/university-news\">University News</a>        </h4>\n    \n                <div class=\"media newslist\">\n            <div class=\"media-right\">\n                <a href=\"https://kashanu.ac.ir/en/news/22163/uok-excels-in-the-young-university-rankings\"><img class=\"media-object small-thumb img-thumbnail\" src=\"/images/www/en/news/home-category-small-thumb/2023/64adb99b77fad-young.png\" width=\"89\" height=\"68\" alt=\"UoK Excels in THE Young University Rankings\"></a>            </div>\n            <div class=\"media-body\">\n                <div class=\"meta\">\n                    <i class=\"fa fa-calendar\"></i>\n                     Tuesday 11 July 2023                                        </div>\n                <div class=\"media-heading\">\n                                        <span class=\"excerpt\">\n                        <a href=\"https://kashanu.ac.ir/en/news/22163/uok-excels-in-the-young-university-rankings\">UoK Excels in THE Young University Rankings</a>                    </span>\n                </div>\n\n            </div>\n        </div>\n            <div class=\"media newslist\">\n            <div class=\"media-right\">\n                <a href=\"https://kashanu.ac.ir/en/news/22117/uok-2nd-in-citations-nationally-the-asian-university-rankings-2023\"><img class=\"media-object small-thumb img-thumbnail\" src=\"/images/www/en/news/home-category-small-thumb/2023/649fe58cac156-asia22.png\" width=\"89\" height=\"68\" alt=\"UoK 2nd in Citations Nationally, THE Asian University Rankings 2023\"></a>            </div>\n            <div class=\"media-body\">\n                <div class=\"meta\">\n                    <i class=\"fa fa-calendar\"></i>\n                     Saturday 01 July 2023                                        </div>\n                <div class=\"media-heading\">\n                                        <span class=\"excerpt\">\n                        <a href=\"https://kashanu.ac.ir/en/news/22117/uok-2nd-in-citations-nationally-the-asian-university-rankings-2023\">UoK 2nd in Citations Nationally, THE Asian University Rankings 2023</a>                    </span>\n                </div>\n\n            </div>\n        </div>\n            <div class=\"media newslist\">\n            <div class=\"media-right\">\n                <a href=\"https://kashanu.ac.ir/en/news/21980/university-of-kashan-in-world-s-highly-indexed-universities-list\"><img class=\"media-object small-thumb img-thumbnail\" src=\"/images/www/en/news/home-category-small-thumb/2023/647e09566c522-esi.jpg\" width=\"89\" height=\"68\" alt=\"University of Kashan in World’s Highly Indexed Universities List\"></a>            </div>\n            <div class=\"media-body\">\n                <div class=\"meta\">\n                    <i class=\"fa fa-calendar\"></i>\n                     Monday 05 June 2023                                        </div>\n                <div class=\"media-heading\">\n                                        <span class=\"excerpt\">\n                        <a href=\"https://kashanu.ac.ir/en/news/21980/university-of-kashan-in-world-s-highly-indexed-universities-list\">University of Kashan in World’s Highly Indexed Universities List</a>                    </span>\n                </div>\n\n            </div>\n        </div>\n            <div class=\"media newslist\">\n            <div class=\"media-right\">\n                <a href=\"https://kashanu.ac.ir/en/news/21608/kashan-8th-in-webometrics-in-iran-1580th-in-the-world\"><img class=\"media-object small-thumb img-thumbnail\" src=\"/images/www/en/news/home-category-small-thumb/2023/1679110580-webometrics.jpg\" width=\"89\" height=\"68\" alt=\"Kashan 8th in Webometrics in Iran, 1580th in the World\"></a>            </div>\n            <div class=\"media-body\">\n                <div class=\"meta\">\n                    <i class=\"fa fa-calendar\"></i>\n                     Saturday 18 March 2023                                        </div>\n                <div class=\"media-heading\">\n                                        <span class=\"excerpt\">\n                        <a href=\"https://kashanu.ac.ir/en/news/21608/kashan-8th-in-webometrics-in-iran-1580th-in-the-world\">Kashan 8th in Webometrics in Iran, 1580th in the World</a>                    </span>\n                </div>\n\n            </div>\n        </div>\n            <div class=\"media newslist\">\n            <div class=\"media-right\">\n                <a href=\"https://kashanu.ac.ir/en/news/21605/uok-13th-on-2022-isc-ranking\"><img class=\"media-object small-thumb img-thumbnail\" src=\"/images/www/en/news/home-category-small-thumb/2023/1679108872-1678770417-.png\" width=\"89\" height=\"68\" alt=\"UoK 13th on 2022 ISC Ranking\"></a>            </div>\n            <div class=\"media-body\">\n                <div class=\"meta\">\n                    <i class=\"fa fa-calendar\"></i>\n                     Saturday 18 March 2023                                        </div>\n                <div class=\"media-heading\">\n                                        <span class=\"excerpt\">\n                        <a href=\"https://kashanu.ac.ir/en/news/21605/uok-13th-on-2022-isc-ranking\">UoK 13th on 2022 ISC Ranking</a>                    </span>\n                </div>\n\n            </div>\n        </div>\n            <div class=\"media newslist\">\n            <div class=\"media-right\">\n                <a href=\"https://kashanu.ac.ir/en/news/21562/uok-holds-azfa-exams\"><img class=\"media-object small-thumb img-thumbnail\" src=\"/images/www/en/news/home-category-small-thumb/2023/1678641087-1678554800-66.jpg\" width=\"89\" height=\"68\" alt=\"UoK Holds AZFA Exams\"></a>            </div>\n            <div class=\"media-body\">\n                <div class=\"meta\">\n                    <i class=\"fa fa-calendar\"></i>\n                     Sunday 12 March 2023                                        </div>\n                <div class=\"media-heading\">\n                                        <span class=\"excerpt\">\n                        <a href=\"https://kashanu.ac.ir/en/news/21562/uok-holds-azfa-exams\">UoK Holds AZFA Exams</a>                    </span>\n                </div>\n\n            </div>\n        </div>\n    \n            <div class=\"more-link\">\n            <a href=\"https://kashanu.ac.ir/en/news/category/84/university-news\"><i class=\"fa fa-arrow-circle-right\"></i> News Archive</a>        </div>\n    </div>\n                </div>\n               <div class=\"col-sm-4 eventlist\">\n                    <!-- NewsList --> \n<div class=\"newslist-widget widget \">\n            <h4 class=\"title\">\n                        Latest News        </h4>\n        <div class=\"list-unstyled lis-events\">\n                    <div class=\"title-events\">\n                <a href=\"https://kashanu.ac.ir/en/news/22163/uok-excels-in-the-young-university-rankings\"><i class=\"fa fa--\"></i> UoK Excels in THE Young University Rankings</a>                                                                    <span class=\"date-info\">\n                     Tuesday 11 July 2023                </span>\n            </div>\n                    <div class=\"title-events\">\n                <a href=\"https://kashanu.ac.ir/en/news/22117/uok-2nd-in-citations-nationally-the-asian-university-rankings-2023\"><i class=\"fa fa--\"></i> UoK 2nd in Citations Nationally, THE Asian University Rankings 2023</a>                                                                    <span class=\"date-info\">\n                     Saturday 01 July 2023                </span>\n            </div>\n                    <div class=\"title-events\">\n                <a href=\"https://kashanu.ac.ir/en/news/21980/university-of-kashan-in-world-s-highly-indexed-universities-list\"><i class=\"fa fa--\"></i> University of Kashan in World’s Highly Indexed Universities List</a>                                                                    <span class=\"date-info\">\n                     Monday 05 June 2023                </span>\n            </div>\n                    <div class=\"title-events\">\n                <a href=\"https://kashanu.ac.ir/en/news/21608/kashan-8th-in-webometrics-in-iran-1580th-in-the-world\"><i class=\"fa fa--\"></i> Kashan 8th in Webometrics in Iran, 1580th in the World</a>                                                                    <span class=\"date-info\">\n                     Saturday 18 March 2023                </span>\n            </div>\n            </div>\n            <div class=\"more-link\">\n                            <a href=\"https://kashanu.ac.ir/en/news/category/86/news\"><i class=\"fa fa-arrow-circle-right\"></i> archive News</a>                    </div>\n    </div>\n                </div>\n\n            </div>\n        </div>\n    </div>\n</section>\n<section class=\"data-thumb-carousel\">\n    <!-- AchievementsCarousel --> \n\n\n\t<div class=\"achievementscarousel-widget  container widget\">\n\t\t<div class=\"row\">\n\t\t\t\t\t\t\t<div class=\"col-xs-12\">\n\t\t\t\t\t<h4 class=\"title\">\n\t\t\t\t\t\t<a href=\"https://kashanu.ac.ir/en/achievement\">Achievements</a>\t\t\t\t\t</h4>\n\t\t\t\t</div>\n\t\t\t\t\t\t<div class=\"col-xs-12\">\n\t\t\t\t<div class=\"achievements-carousel owl-carousel owl-theme\" id=\"PBAchievements-\">\n\t\t\t\t\t\t\t\t\t\t\t<div class=\"thumbnail\">\n\t\t\t\t\t\t\t<a href=\"https://kashanu.ac.ir/en/achievement/283/-university-of-kashan-in-times-higher-education-ranking-system\"><img class=\"img-responsive\" src=\"/images/www/en/achievement/achievement-carousel/2022/1655007509-2022.png\" width=\"300\" height=\"200\" alt=\" University of Kashan in Times Higher Education Ranking System\"></a>\t\t\t\t\t\t\t<div class=\"caption achiv-carousel-\">\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t<h3 style=\"color:!important;\" class=\"item-title\">\n\t\t\t\t\t\t\t\t\t<a href=\"https://kashanu.ac.ir/en/achievement/283/-university-of-kashan-in-times-higher-education-ranking-system\" style=\"color:!important\"> University of Kashan in Times Higher Education Ranking System</a>\t\t\t\t\t\t\t\t</h3>\n\t\t\t\t\t\t\t\t<p style=\"color:!important;\" class=\"item-summary\">\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t</p>\n\t\t\t\t\t\t\t</div>\n\t\t\t\t\t\t</div>\n\t\t\t\t\t\t\t\t\t\t\t<div class=\"thumbnail\">\n\t\t\t\t\t\t\t<a href=\"https://kashanu.ac.ir/en/achievement/242/university-of-kashan-in-national-international-rankings\"><img class=\"img-responsive\" src=\"/images/www/en/achievement/achievement-carousel/2019/1574667373-1571558885-.jpg\" width=\"300\" height=\"200\" alt=\"University of Kashan in National-International Rankings\"></a>\t\t\t\t\t\t\t<div class=\"caption achiv-carousel-\">\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t<h3 style=\"color:!important;\" class=\"item-title\">\n\t\t\t\t\t\t\t\t\t<a href=\"https://kashanu.ac.ir/en/achievement/242/university-of-kashan-in-national-international-rankings\" style=\"color:!important\">University of Kashan in National-International Rankings</a>\t\t\t\t\t\t\t\t</h3>\n\t\t\t\t\t\t\t\t<p style=\"color:!important;\" class=\"item-summary\">\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t</p>\n\t\t\t\t\t\t\t</div>\n\t\t\t\t\t\t</div>\n\t\t\t\t\t\t\t\t\t\t\t<div class=\"thumbnail\">\n\t\t\t\t\t\t\t<a href=\"https://kashanu.ac.ir/en/achievement/140/mahdi-aboulhasani-winner-of-humboldt-foundation-fellowship\"><img class=\"img-responsive\" src=\"/images/www/en/achievement/achievement-carousel/2018/1530346179-mohammad-mahdi-abolhasani2.jpg\" width=\"300\" height=\"200\" alt=\"Mahdi Aboulhasani, Winner of Humboldt Foundation Fellowship\"></a>\t\t\t\t\t\t\t<div class=\"caption achiv-carousel-\">\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t<h3 style=\"color:!important;\" class=\"item-title\">\n\t\t\t\t\t\t\t\t\t<a href=\"https://kashanu.ac.ir/en/achievement/140/mahdi-aboulhasani-winner-of-humboldt-foundation-fellowship\" style=\"color:!important\">Mahdi Aboulhasani, Winner of Humboldt Foundation Fellowship</a>\t\t\t\t\t\t\t\t</h3>\n\t\t\t\t\t\t\t\t<p style=\"color:!important;\" class=\"item-summary\">\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t</p>\n\t\t\t\t\t\t\t</div>\n\t\t\t\t\t\t</div>\n\t\t\t\t\t\t\t\t\t\t\t<div class=\"thumbnail\">\n\t\t\t\t\t\t\t<a href=\"https://kashanu.ac.ir/en/achievement/120/university-of-kashan-professor-wins-2-awards-on-kilim-design\"><img class=\"img-responsive\" src=\"/images/www/en/achievement/achievement-carousel/2018/1523783463-1523459606-600x600.jpg\" width=\"300\" height=\"200\" alt=\"University of Kashan Professor Wins 2 Awards on Kilim Design\"></a>\t\t\t\t\t\t\t<div class=\"caption achiv-carousel-\">\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t<h3 style=\"color:!important;\" class=\"item-title\">\n\t\t\t\t\t\t\t\t\t<a href=\"https://kashanu.ac.ir/en/achievement/120/university-of-kashan-professor-wins-2-awards-on-kilim-design\" style=\"color:!important\">University of Kashan Professor Wins 2 Awards on Kilim Design</a>\t\t\t\t\t\t\t\t</h3>\n\t\t\t\t\t\t\t\t<p style=\"color:!important;\" class=\"item-summary\">\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t</p>\n\t\t\t\t\t\t\t</div>\n\t\t\t\t\t\t</div>\n\t\t\t\t\t\t\t\t\t\t\t<div class=\"thumbnail\">\n\t\t\t\t\t\t\t<a href=\"https://kashanu.ac.ir/en/achievement/15/dr.-rezaei-nation-s-prominent-young-scientist\"><img class=\"img-responsive\" src=\"/images/www/en/achievement/achievement-carousel/2017/1487885291-rezaei.jpg\" width=\"300\" height=\"200\" alt=\"Dr. Rezaei, Nation’s Prominent Young Scientist\"></a>\t\t\t\t\t\t\t<div class=\"caption achiv-carousel-\">\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t<h3 style=\"color:!important;\" class=\"item-title\">\n\t\t\t\t\t\t\t\t\t<a href=\"https://kashanu.ac.ir/en/achievement/15/dr.-rezaei-nation-s-prominent-young-scientist\" style=\"color:!important\">Dr. Rezaei, Nation’s Prominent Young Scientist</a>\t\t\t\t\t\t\t\t</h3>\n\t\t\t\t\t\t\t\t<p style=\"color:!important;\" class=\"item-summary\">\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t</p>\n\t\t\t\t\t\t\t</div>\n\t\t\t\t\t\t</div>\n\t\t\t\t\t\t\t\t\t\t\t<div class=\"thumbnail\">\n\t\t\t\t\t\t\t<a href=\"https://kashanu.ac.ir/en/achievement/14/dr.-salavati-ranked-2nd-in-nanoscience-in-iran\"><img class=\"img-responsive\" src=\"/images/www/en/achievement/achievement-carousel/2017/1487885149-dr-salavati.jpg\" width=\"300\" height=\"200\" alt=\"Dr. Salavati Ranked 2nd in Nanoscience in Iran\"></a>\t\t\t\t\t\t\t<div class=\"caption achiv-carousel-\">\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t<h3 style=\"color:!important;\" class=\"item-title\">\n\t\t\t\t\t\t\t\t\t<a href=\"https://kashanu.ac.ir/en/achievement/14/dr.-salavati-ranked-2nd-in-nanoscience-in-iran\" style=\"color:!important\">Dr. Salavati Ranked 2nd in Nanoscience in Iran</a>\t\t\t\t\t\t\t\t</h3>\n\t\t\t\t\t\t\t\t<p style=\"color:!important;\" class=\"item-summary\">\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t</p>\n\t\t\t\t\t\t\t</div>\n\t\t\t\t\t\t</div>\n\t\t\t\t\t\t\t\t\t\t\t<div class=\"thumbnail\">\n\t\t\t\t\t\t\t<a href=\"https://kashanu.ac.ir/en/achievement/9/-university-of-kashan-to-construct-a-10-megawatt-solar-power-plant-with-foreign-investments-\"><img class=\"img-responsive\" src=\"/images/www/en/achievement/achievement-carousel/2017/1486900039-power.jpg\" width=\"300\" height=\"200\" alt=\" University of Kashan to Construct a 10-megawatt Solar Power Plant with Foreign Investments \"></a>\t\t\t\t\t\t\t<div class=\"caption achiv-carousel-\">\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t<h3 style=\"color:!important;\" class=\"item-title\">\n\t\t\t\t\t\t\t\t\t<a href=\"https://kashanu.ac.ir/en/achievement/9/-university-of-kashan-to-construct-a-10-megawatt-solar-power-plant-with-foreign-investments-\" style=\"color:!important\"> University of Kashan to Construct a 10-megawatt Solar Power Plant with Foreign Investments </a>\t\t\t\t\t\t\t\t</h3>\n\t\t\t\t\t\t\t\t<p style=\"color:!important;\" class=\"item-summary\">\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t</p>\n\t\t\t\t\t\t\t</div>\n\t\t\t\t\t\t</div>\n\t\t\t\t\t\t\t\t\t\t\t<div class=\"thumbnail\">\n\t\t\t\t\t\t\t<a href=\"https://kashanu.ac.ir/en/achievement/8/university-of-kashan-among-world-s-top-universities\"><img class=\"img-responsive\" src=\"/images/www/en/achievement/achievement-carousel/2017/1486899610-ku.jpg\" width=\"300\" height=\"200\" alt=\"University of Kashan among World&#039;s Top Universities\"></a>\t\t\t\t\t\t\t<div class=\"caption achiv-carousel-\">\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t<h3 style=\"color:!important;\" class=\"item-title\">\n\t\t\t\t\t\t\t\t\t<a href=\"https://kashanu.ac.ir/en/achievement/8/university-of-kashan-among-world-s-top-universities\" style=\"color:!important\">University of Kashan among World's Top Universities</a>\t\t\t\t\t\t\t\t</h3>\n\t\t\t\t\t\t\t\t<p style=\"color:!important;\" class=\"item-summary\">\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t</p>\n\t\t\t\t\t\t\t</div>\n\t\t\t\t\t\t</div>\n\t\t\t\t\t\t\t\t\t</div>\n\t\t\t</div>\n\t\t</div>\n\t</div>\n\n\n\t\n\t</section>\n\n<section class=\"dark-box\">\n    <div class=\"container\">\n        <div class=\"row\">\n            <div class=\"col-sm-9\">\n                <div class=\"row\">\n                    <!-- Banner --> \n    <div class=\"widget study-banner\">\n                    <h4 class=\"title\">\n                                    Study at University of Kashan                            </h4>\n        \n        \n                                                                                <div class=\"col-xs-12 col-sm-6 col-md-3 bootstrap-columns-class-placeholder\">\n                                                                <div class=\"item\">\n                            <div class=\"banner-image-wrapper\">\n                                <a href=\"http://pardis.kashanu.ac.ir/en\" target=\"_self\"><img class=\"img-responsive center-block\" src=\"/images/www/en/banner/study-banner/2017/1486900707-pardis.jpg\" width=\"220\" height=\"170\" alt=\"International Campus\"></a>                            </div>\n                            <div class=\"banner-textbase-contet-wrapper\">\n                                                                    <h4 class=\"item-title\">\n                                        <a href=\"http://pardis.kashanu.ac.ir/en\" target=\"_self\">International Campus</a>                                    </h4>\n                                                                                            </div>\n                        </div>\n                                                                </div>\n                                                                                                            <div class=\"col-xs-12 col-sm-6 col-md-3 bootstrap-columns-class-placeholder\">\n                                                                <div class=\"item\">\n                            <div class=\"banner-image-wrapper\">\n                                <a href=\"http://kashanu.ac.ir/en\" target=\"_self\"><img class=\"img-responsive center-block\" src=\"/images/www/en/banner/study-banner/2017/1486900524-doctora.png\" width=\"220\" height=\"170\" alt=\"PhD Degrees\"></a>                            </div>\n                            <div class=\"banner-textbase-contet-wrapper\">\n                                                                    <h4 class=\"item-title\">\n                                        <a href=\"http://kashanu.ac.ir/en\" target=\"_self\">PhD Degrees</a>                                    </h4>\n                                                                                            </div>\n                        </div>\n                                                                </div>\n                                                                                                            <div class=\"col-xs-12 col-sm-6 col-md-3 bootstrap-columns-class-placeholder\">\n                                                                <div class=\"item\">\n                            <div class=\"banner-image-wrapper\">\n                                <a href=\"http://kashanu.ac.ir/en\" target=\"_self\"><img class=\"img-responsive center-block\" src=\"/images/www/en/banner/study-banner/2017/1486900491-arshad.png\" width=\"220\" height=\"170\" alt=\"Master Degrees\"></a>                            </div>\n                            <div class=\"banner-textbase-contet-wrapper\">\n                                                                    <h4 class=\"item-title\">\n                                        <a href=\"http://kashanu.ac.ir/en\" target=\"_self\">Master Degrees</a>                                    </h4>\n                                                                                            </div>\n                        </div>\n                                                                </div>\n                                                                                                            <div class=\"col-xs-12 col-sm-6 col-md-3 bootstrap-columns-class-placeholder\">\n                                                                <div class=\"item\">\n                            <div class=\"banner-image-wrapper\">\n                                <a href=\"http://kashanu.ac.ir/en\" target=\"_self\"><img class=\"img-responsive center-block\" src=\"/images/www/en/banner/study-banner/2017/1486900444-karshenasi.png\" width=\"220\" height=\"170\" alt=\"Bachelor Degrees\"></a>                            </div>\n                            <div class=\"banner-textbase-contet-wrapper\">\n                                                                    <h4 class=\"item-title\">\n                                        <a href=\"http://kashanu.ac.ir/en\" target=\"_self\">Bachelor Degrees</a>                                    </h4>\n                                                                                            </div>\n                        </div>\n                                                                </div>\n                                                            </div>\n                </div>\n            </div>\n            <div class=\"col-sm-3\">\n                <!-- MajorList --> \n\n<div class=\"study-search-widget widget\">\n    <h4 class=\"title\">Majors</h4>\n    <form action=\"https://kashanu.ac.ir/en/major\" method=\"get\">        <div class=\"form-group\">\n            <div class=\"input-group\">\n                <input type=\"text\" id=\"infoName\" class=\"form-control\" name=\"MajorSearch[infoName]\" placeholder=\"Search Major name\">                <div class=\"input-group-btn\">\n                    <button type=\"submit\" class=\"btn btn-sm search-button\"><i class=\"fa fa-search\"></i></button>                </div>\n            </div>\n        </div>\n        <div class=\"form-group\">\n            <div class=\"kv-plugin-loading loading-major-list-widget\">&nbsp;</div><select id=\"major-list-widget\" class=\"form-control\" name=\"MajorSearch[collegeId]\" dir=\"ltr\" data-s2-options=\"s2options_d6851687\" data-krajee-select2=\"select2_1f7b788e\" style=\"width: 1px; height: 1px; visibility: hidden;\">\n<option value=\"\">Choose College / Department</option>\n<option value=\"72\" data-value=\"72-MajorSearch[collegeId]\">Energy Reserach Institute</option>\n<option value=\"319\" data-value=\"319-MajorSearch[departmentId]\">Energy Reserach Institute - Mechanical Engineering (Energy Systems)</option>\n<option value=\"58\" data-value=\"58-MajorSearch[collegeId]\">Faculty of Architecture and Art</option>\n<option value=\"315\" data-value=\"315-MajorSearch[departmentId]\">Faculty of Architecture and Art - Advanced Studies Of Art</option>\n<option value=\"317\" data-value=\"317-MajorSearch[departmentId]\">Faculty of Architecture and Art - Archaeology </option>\n<option value=\"313\" data-value=\"313-MajorSearch[departmentId]\">Faculty of Architecture and Art - Architectural Engineering</option>\n<option value=\"318\" data-value=\"318-MajorSearch[departmentId]\">Faculty of Architecture and Art - Architectural Technologies</option>\n<option value=\"314\" data-value=\"314-MajorSearch[departmentId]\">Faculty of Architecture and Art - Art Research</option>\n<option value=\"312\" data-value=\"312-MajorSearch[departmentId]\">Faculty of Architecture and Art - Carpet</option>\n<option value=\"316\" data-value=\"316-MajorSearch[departmentId]\">Faculty of Architecture and Art - General - Architecture and Art</option>\n<option value=\"311\" data-value=\"311-MajorSearch[departmentId]\">Faculty of Architecture and Art - Handicrafts</option>\n<option value=\"310\" data-value=\"310-MajorSearch[departmentId]\">Faculty of Architecture and Art - Islamic Art</option>\n<option value=\"59\" data-value=\"59-MajorSearch[collegeId]\">Faculty of Chemistry</option>\n<option value=\"290\" data-value=\"290-MajorSearch[departmentId]\">Faculty of Chemistry - Analytical Chemistry</option>\n<option value=\"286\" data-value=\"286-MajorSearch[departmentId]\">Faculty of Chemistry - Chemistry</option>\n<option value=\"291\" data-value=\"291-MajorSearch[departmentId]\">Faculty of Chemistry - General - Chemistry</option>\n<option value=\"287\" data-value=\"287-MajorSearch[departmentId]\">Faculty of Chemistry - Inorganic Chemistry</option>\n<option value=\"292\" data-value=\"292-MajorSearch[departmentId]\">Faculty of Chemistry - Molecular and Cellular Biology</option>\n<option value=\"288\" data-value=\"288-MajorSearch[departmentId]\">Faculty of Chemistry - Organic Chemistry</option>\n<option value=\"289\" data-value=\"289-MajorSearch[departmentId]\">Faculty of Chemistry - Physical Chemistry</option>\n<option value=\"65\" data-value=\"65-MajorSearch[collegeId]\">Faculty of Electrical and Computer Engineering</option>\n<option value=\"273\" data-value=\"273-MajorSearch[departmentId]\">Faculty of Electrical and Computer Engineering - Computer Engineering</option>\n<option value=\"269\" data-value=\"269-MajorSearch[departmentId]\">Faculty of Electrical and Computer Engineering - Electrical Engineering</option>\n<option value=\"272\" data-value=\"272-MajorSearch[departmentId]\">Faculty of Electrical and Computer Engineering - Electrical Engineering - Control</option>\n<option value=\"267\" data-value=\"267-MajorSearch[departmentId]\">Faculty of Electrical and Computer Engineering - Electrical Engineering - Electronics</option>\n<option value=\"270\" data-value=\"270-MajorSearch[departmentId]\">Faculty of Electrical and Computer Engineering - Electrical Engineering - Power</option>\n<option value=\"268\" data-value=\"268-MajorSearch[departmentId]\">Faculty of Electrical and Computer Engineering - Electrical Engineering - Telecommunication</option>\n<option value=\"271\" data-value=\"271-MajorSearch[departmentId]\">Faculty of Electrical and Computer Engineering - General - Electronics and Computer</option>\n<option value=\"57\" data-value=\"57-MajorSearch[collegeId]\">Faculty of Engineering</option>\n<option value=\"279\" data-value=\"279-MajorSearch[departmentId]\">Faculty of Engineering - Chemical Engineering</option>\n<option value=\"278\" data-value=\"278-MajorSearch[departmentId]\">Faculty of Engineering - Civil Engineering</option>\n<option value=\"277\" data-value=\"277-MajorSearch[departmentId]\">Faculty of Engineering - General - Engineering</option>\n<option value=\"276\" data-value=\"276-MajorSearch[departmentId]\">Faculty of Engineering - Industrial Engineering</option>\n<option value=\"274\" data-value=\"274-MajorSearch[departmentId]\">Faculty of Engineering - Metallurgical Engineering</option>\n<option value=\"275\" data-value=\"275-MajorSearch[departmentId]\">Faculty of Engineering - Mining Engineering</option>\n<option value=\"56\" data-value=\"56-MajorSearch[collegeId]\">Faculty of Humanities</option>\n<option value=\"320\" data-value=\"320-MajorSearch[departmentId]\">Faculty of Humanities - Educational Sciences</option>\n<option value=\"324\" data-value=\"324-MajorSearch[departmentId]\">Faculty of Humanities - General - Humanities</option>\n<option value=\"322\" data-value=\"322-MajorSearch[departmentId]\">Faculty of Humanities - Law</option>\n<option value=\"326\" data-value=\"326-MajorSearch[departmentId]\">Faculty of Humanities - Management and Economics</option>\n<option value=\"321\" data-value=\"321-MajorSearch[departmentId]\">Faculty of Humanities - Physical Education</option>\n<option value=\"325\" data-value=\"325-MajorSearch[departmentId]\">Faculty of Humanities - Psychology</option>\n<option value=\"323\" data-value=\"323-MajorSearch[departmentId]\">Faculty of Humanities - Social Sciences</option>\n<option value=\"63\" data-value=\"63-MajorSearch[collegeId]\">Faculty of Literature and Foreign Languages</option>\n<option value=\"328\" data-value=\"328-MajorSearch[departmentId]\">Faculty of Literature and Foreign Languages - Arabic Language and Literature</option>\n<option value=\"335\" data-value=\"335-MajorSearch[departmentId]\">Faculty of Literature and Foreign Languages - English</option>\n<option value=\"329\" data-value=\"329-MajorSearch[departmentId]\">Faculty of Literature and Foreign Languages - English Language and Literature</option>\n<option value=\"330\" data-value=\"330-MajorSearch[departmentId]\">Faculty of Literature and Foreign Languages - English Translation</option>\n<option value=\"336\" data-value=\"336-MajorSearch[departmentId]\">Faculty of Literature and Foreign Languages - General - Literature and Foreign Languages</option>\n<option value=\"333\" data-value=\"333-MajorSearch[departmentId]\">Faculty of Literature and Foreign Languages - Islamic Sciences</option>\n<option value=\"327\" data-value=\"327-MajorSearch[departmentId]\">Faculty of Literature and Foreign Languages - Persian Language and Literature</option>\n<option value=\"337\" data-value=\"337-MajorSearch[departmentId]\">Faculty of Literature and Foreign Languages - Teaching English as a Foreign Language</option>\n<option value=\"334\" data-value=\"334-MajorSearch[departmentId]\">Faculty of Literature and Foreign Languages - Theology and Islamic Sciences</option>\n<option value=\"331\" data-value=\"331-MajorSearch[departmentId]\">Faculty of Literature and Foreign Languages - Theology and Islamic Sciences - Quran and Hadith Studies</option>\n<option value=\"332\" data-value=\"332-MajorSearch[departmentId]\">Faculty of Literature and Foreign Languages - Theology and Islamic Sciences - Religions and Philosophy</option>\n<option value=\"69\" data-value=\"69-MajorSearch[collegeId]\">Faculty of Management and Economics</option>\n<option value=\"55\" data-value=\"55-MajorSearch[collegeId]\">Faculty of Mathematics</option>\n<option value=\"297\" data-value=\"297-MajorSearch[departmentId]\">Faculty of Mathematics - Applied Mathematics</option>\n<option value=\"299\" data-value=\"299-MajorSearch[departmentId]\">Faculty of Mathematics - Computer Sciences</option>\n<option value=\"295\" data-value=\"295-MajorSearch[departmentId]\">Faculty of Mathematics - General - Science</option>\n<option value=\"294\" data-value=\"294-MajorSearch[departmentId]\">Faculty of Mathematics - Mathematics</option>\n<option value=\"300\" data-value=\"300-MajorSearch[departmentId]\">Faculty of Mathematics - Mathematics and Applications</option>\n<option value=\"296\" data-value=\"296-MajorSearch[departmentId]\">Faculty of Mathematics - Pure Mathematics </option>\n<option value=\"298\" data-value=\"298-MajorSearch[departmentId]\">Faculty of Mathematics - Statistics and Applications</option>\n<option value=\"64\" data-value=\"64-MajorSearch[collegeId]\">Faculty of Mechanical Engineering</option>\n<option value=\"263\" data-value=\"263-MajorSearch[departmentId]\">Faculty of Mechanical Engineering - Mechanical Engineering</option>\n<option value=\"264\" data-value=\"264-MajorSearch[departmentId]\">Faculty of Mechanical Engineering - Mechanical Engineering - Heat and Fluid</option>\n<option value=\"266\" data-value=\"266-MajorSearch[departmentId]\">Faculty of Mechanical Engineering - Mechanical Engineering - Manufacturing and Production</option>\n<option value=\"265\" data-value=\"265-MajorSearch[departmentId]\">Faculty of Mechanical Engineering - Mechanical Engineering - Solid Design</option>\n<option value=\"60\" data-value=\"60-MajorSearch[collegeId]\">Faculty of Natural Resrources and Earth Sciences</option>\n<option value=\"303\" data-value=\"303-MajorSearch[departmentId]\">Faculty of Natural Resrources and Earth Sciences - Combating Desertification</option>\n<option value=\"305\" data-value=\"305-MajorSearch[departmentId]\">Faculty of Natural Resrources and Earth Sciences - Environment</option>\n<option value=\"302\" data-value=\"302-MajorSearch[departmentId]\">Faculty of Natural Resrources and Earth Sciences - Geography and Tourism</option>\n<option value=\"301\" data-value=\"301-MajorSearch[departmentId]\">Faculty of Natural Resrources and Earth Sciences - Natural Resources</option>\n<option value=\"304\" data-value=\"304-MajorSearch[departmentId]\">Faculty of Natural Resrources and Earth Sciences - Nature engineering</option>\n<option value=\"66\" data-value=\"66-MajorSearch[collegeId]\">Girls Unit</option>\n<option value=\"347\" data-value=\"347-MajorSearch[departmentId]\">Girls Unit - Arabic Literature</option>\n<option value=\"343\" data-value=\"343-MajorSearch[departmentId]\">Girls Unit - Computer Engineering - Software</option>\n<option value=\"341\" data-value=\"341-MajorSearch[departmentId]\">Girls Unit - Computer Sciences</option>\n<option value=\"345\" data-value=\"345-MajorSearch[departmentId]\">Girls Unit - Family Studies</option>\n<option value=\"352\" data-value=\"352-MajorSearch[departmentId]\">Girls Unit - General - Girls Unit</option>\n<option value=\"346\" data-value=\"346-MajorSearch[departmentId]\">Girls Unit - General Psychology</option>\n<option value=\"353\" data-value=\"353-MajorSearch[departmentId]\">Girls Unit - Islamic Sciences - Girls Unit</option>\n<option value=\"344\" data-value=\"344-MajorSearch[departmentId]\">Girls Unit - Law</option>\n<option value=\"340\" data-value=\"340-MajorSearch[departmentId]\">Girls Unit - Persian Language and Literature</option>\n<option value=\"350\" data-value=\"350-MajorSearch[departmentId]\">Girls Unit - Physical Education</option>\n<option value=\"351\" data-value=\"351-MajorSearch[departmentId]\">Girls Unit - Quranic and Hadith Studies </option>\n<option value=\"348\" data-value=\"348-MajorSearch[departmentId]\">Girls Unit - Social Sciences</option>\n<option value=\"342\" data-value=\"342-MajorSearch[departmentId]\">Girls Unit - Statistics and Applications</option>\n<option value=\"349\" data-value=\"349-MajorSearch[departmentId]\">Girls Unit - Teaching English as a Foreign Language</option>\n<option value=\"70\" data-value=\"70-MajorSearch[collegeId]\">NanoScience and NanoTechnology Research Center</option>\n<option value=\"338\" data-value=\"338-MajorSearch[departmentId]\">NanoScience and NanoTechnology Research Center - Nano Science and Nanotechnology</option>\n<option value=\"71\" data-value=\"71-MajorSearch[collegeId]\">Natural Essential Oil Research Center</option>\n<option value=\"339\" data-value=\"339-MajorSearch[departmentId]\">Natural Essential Oil Research Center - Chemistry and Essential Oils Technology</option>\n<option value=\"293\" data-value=\"293-MajorSearch[departmentId]\">Natural Essential Oil Research Center - Phytochemistry</option>\n<option value=\"68\" data-value=\"68-MajorSearch[collegeId]\">Pardis Faculty</option>\n<option value=\"375\" data-value=\"375-MajorSearch[departmentId]\">Pardis Faculty - Architectural Engineering</option>\n<option value=\"357\" data-value=\"357-MajorSearch[departmentId]\">Pardis Faculty - Chemical Engineering</option>\n<option value=\"374\" data-value=\"374-MajorSearch[departmentId]\">Pardis Faculty - Chemistry and Essential Oils Technology</option>\n<option value=\"356\" data-value=\"356-MajorSearch[departmentId]\">Pardis Faculty - Civil Engineering</option>\n<option value=\"365\" data-value=\"365-MajorSearch[departmentId]\">Pardis Faculty - Computer Engineering</option>\n<option value=\"377\" data-value=\"377-MajorSearch[departmentId]\">Pardis Faculty - Condensed Matter Physics</option>\n<option value=\"364\" data-value=\"364-MajorSearch[departmentId]\">Pardis Faculty - Electrical Engineering</option>\n<option value=\"371\" data-value=\"371-MajorSearch[departmentId]\">Pardis Faculty - Electrical Engineering - Control</option>\n<option value=\"370\" data-value=\"370-MajorSearch[departmentId]\">Pardis Faculty - Electrical Engineering - Electronics</option>\n<option value=\"369\" data-value=\"369-MajorSearch[departmentId]\">Pardis Faculty - Electrical Engineering - Power Engineering</option>\n<option value=\"372\" data-value=\"372-MajorSearch[departmentId]\">Pardis Faculty - Electrical Engineering - Telecommunication</option>\n<option value=\"378\" data-value=\"378-MajorSearch[departmentId]\">Pardis Faculty - Elementary Particles and Field Theory</option>\n<option value=\"379\" data-value=\"379-MajorSearch[departmentId]\">Pardis Faculty - Laser and Photonics</option>\n<option value=\"355\" data-value=\"355-MajorSearch[departmentId]\">Pardis Faculty - Mathematics</option>\n<option value=\"363\" data-value=\"363-MajorSearch[departmentId]\">Pardis Faculty - Mechanical Engineering</option>\n<option value=\"367\" data-value=\"367-MajorSearch[departmentId]\">Pardis Faculty - Mechanical Engineering - Heat and Fluid</option>\n<option value=\"368\" data-value=\"368-MajorSearch[departmentId]\">Pardis Faculty - Mechanical Engineering - Manufacturing and Production</option>\n<option value=\"366\" data-value=\"366-MajorSearch[departmentId]\">Pardis Faculty - Mechanical Engineering - Solid Design</option>\n<option value=\"358\" data-value=\"358-MajorSearch[departmentId]\">Pardis Faculty - Mining Engineering</option>\n<option value=\"373\" data-value=\"373-MajorSearch[departmentId]\">Pardis Faculty - Nano Science and Nanotechnology</option>\n<option value=\"359\" data-value=\"359-MajorSearch[departmentId]\">Pardis Faculty - Natural Resources Engineering</option>\n<option value=\"376\" data-value=\"376-MajorSearch[departmentId]\">Pardis Faculty - Nuclear Physics</option>\n<option value=\"354\" data-value=\"354-MajorSearch[departmentId]\">Pardis Faculty - Pardis</option>\n<option value=\"361\" data-value=\"361-MajorSearch[departmentId]\">Pardis Faculty - Physics</option>\n<option value=\"360\" data-value=\"360-MajorSearch[departmentId]\">Pardis Faculty - Social Sciences</option>\n<option value=\"362\" data-value=\"362-MajorSearch[departmentId]\">Pardis Faculty - Theology and Islamic Sciences</option>\n<option value=\"62\" data-value=\"62-MajorSearch[collegeId]\">Virtual Faculty</option>\n<option value=\"308\" data-value=\"308-MajorSearch[departmentId]\">Virtual Faculty - Chemical Engineering</option>\n<option value=\"307\" data-value=\"307-MajorSearch[departmentId]\">Virtual Faculty - Mechanical Engineering - Heat and Fluid</option>\n<option value=\"309\" data-value=\"309-MajorSearch[departmentId]\">Virtual Faculty - Social Sciences</option>\n<option value=\"306\" data-value=\"306-MajorSearch[departmentId]\">Virtual Faculty - Virtual Training</option>\n<option value=\"61\" data-value=\"61-MajorSearch[collegeId]\">faculty of Physics</option>\n<option value=\"280\" data-value=\"280-MajorSearch[departmentId]\">faculty of Physics - Condensed Matter Physics</option>\n<option value=\"282\" data-value=\"282-MajorSearch[departmentId]\">faculty of Physics - Elementary Particles and Field Theory Physics</option>\n<option value=\"284\" data-value=\"284-MajorSearch[departmentId]\">faculty of Physics - Engineering Physics</option>\n<option value=\"283\" data-value=\"283-MajorSearch[departmentId]\">faculty of Physics - Laser and Photonics</option>\n<option value=\"281\" data-value=\"281-MajorSearch[departmentId]\">faculty of Physics - Nuclear Physics</option>\n<option value=\"285\" data-value=\"285-MajorSearch[departmentId]\">faculty of Physics - Physics</option>\n</select>        </div>\n    </form></div>\n<div id=\"hidden-inputs\">\n            <input type=\"hidden\" name=\"input\" data-type=\"MajorSearch[collegeId]\" data-id=\"55\" data-selector=\"55-MajorSearch[collegeId]\">            <input type=\"hidden\" name=\"input\" data-type=\"MajorSearch[collegeId]\" data-id=\"56\" data-selector=\"56-MajorSearch[collegeId]\">            <input type=\"hidden\" name=\"input\" data-type=\"MajorSearch[collegeId]\" data-id=\"57\" data-selector=\"57-MajorSearch[collegeId]\">            <input type=\"hidden\" name=\"input\" data-type=\"MajorSearch[collegeId]\" data-id=\"58\" data-selector=\"58-MajorSearch[collegeId]\">            <input type=\"hidden\" name=\"input\" data-type=\"MajorSearch[collegeId]\" data-id=\"59\" data-selector=\"59-MajorSearch[collegeId]\">            <input type=\"hidden\" name=\"input\" data-type=\"MajorSearch[collegeId]\" data-id=\"60\" data-selector=\"60-MajorSearch[collegeId]\">            <input type=\"hidden\" name=\"input\" data-type=\"MajorSearch[collegeId]\" data-id=\"61\" data-selector=\"61-MajorSearch[collegeId]\">            <input type=\"hidden\" name=\"input\" data-type=\"MajorSearch[collegeId]\" data-id=\"63\" data-selector=\"63-MajorSearch[collegeId]\">            <input type=\"hidden\" name=\"input\" data-type=\"MajorSearch[collegeId]\" data-id=\"64\" data-selector=\"64-MajorSearch[collegeId]\">            <input type=\"hidden\" name=\"input\" data-type=\"MajorSearch[collegeId]\" data-id=\"65\" data-selector=\"65-MajorSearch[collegeId]\">            <input type=\"hidden\" name=\"input\" data-type=\"MajorSearch[collegeId]\" data-id=\"68\" data-selector=\"68-MajorSearch[collegeId]\">            <input type=\"hidden\" name=\"input\" data-type=\"MajorSearch[collegeId]\" data-id=\"70\" data-selector=\"70-MajorSearch[collegeId]\">            <input type=\"hidden\" name=\"input\" data-type=\"MajorSearch[collegeId]\" data-id=\"72\" data-selector=\"72-MajorSearch[collegeId]\">            <input type=\"hidden\" name=\"input\" data-type=\"MajorSearch[collegeId]\" data-id=\"71\" data-selector=\"71-MajorSearch[collegeId]\">            <input type=\"hidden\" name=\"input\" data-type=\"MajorSearch[collegeId]\" data-id=\"69\" data-selector=\"69-MajorSearch[collegeId]\">            <input type=\"hidden\" name=\"input\" data-type=\"MajorSearch[collegeId]\" data-id=\"66\" data-selector=\"66-MajorSearch[collegeId]\">            <input type=\"hidden\" name=\"input\" data-type=\"MajorSearch[collegeId]\" data-id=\"62\" data-selector=\"62-MajorSearch[collegeId]\">            <input type=\"hidden\" name=\"input\" data-type=\"MajorSearch[departmentId]\" data-id=\"263\" data-selector=\"263-MajorSearch[departmentId]\">            <input type=\"hidden\" name=\"input\" data-type=\"MajorSearch[departmentId]\" data-id=\"379\" data-selector=\"379-MajorSearch[departmentId]\">            <input type=\"hidden\" name=\"input\" data-type=\"MajorSearch[departmentId]\" data-id=\"378\" data-selector=\"378-MajorSearch[departmentId]\">            <input type=\"hidden\" name=\"input\" data-type=\"MajorSearch[departmentId]\" data-id=\"377\" data-selector=\"377-MajorSearch[departmentId]\">            <input type=\"hidden\" name=\"input\" data-type=\"MajorSearch[departmentId]\" data-id=\"376\" data-selector=\"376-MajorSearch[departmentId]\">            <input type=\"hidden\" name=\"input\" data-type=\"MajorSearch[departmentId]\" data-id=\"375\" data-selector=\"375-MajorSearch[departmentId]\">            <input type=\"hidden\" name=\"input\" data-type=\"MajorSearch[departmentId]\" data-id=\"374\" data-selector=\"374-MajorSearch[departmentId]\">            <input type=\"hidden\" name=\"input\" data-type=\"MajorSearch[departmentId]\" data-id=\"373\" data-selector=\"373-MajorSearch[departmentId]\">            <input type=\"hidden\" name=\"input\" data-type=\"MajorSearch[departmentId]\" data-id=\"372\" data-selector=\"372-MajorSearch[departmentId]\">            <input type=\"hidden\" name=\"input\" data-type=\"MajorSearch[departmentId]\" data-id=\"371\" data-selector=\"371-MajorSearch[departmentId]\">            <input type=\"hidden\" name=\"input\" data-type=\"MajorSearch[departmentId]\" data-id=\"370\" data-selector=\"370-MajorSearch[departmentId]\">            <input type=\"hidden\" name=\"input\" data-type=\"MajorSearch[departmentId]\" data-id=\"369\" data-selector=\"369-MajorSearch[departmentId]\">            <input type=\"hidden\" name=\"input\" data-type=\"MajorSearch[departmentId]\" data-id=\"368\" data-selector=\"368-MajorSearch[departmentId]\">            <input type=\"hidden\" name=\"input\" data-type=\"MajorSearch[departmentId]\" data-id=\"367\" data-selector=\"367-MajorSearch[departmentId]\">            <input type=\"hidden\" name=\"input\" data-type=\"MajorSearch[departmentId]\" data-id=\"366\" data-selector=\"366-MajorSearch[departmentId]\">            <input type=\"hidden\" name=\"input\" data-type=\"MajorSearch[departmentId]\" data-id=\"365\" data-selector=\"365-MajorSearch[departmentId]\">            <input type=\"hidden\" name=\"input\" data-type=\"MajorSearch[departmentId]\" data-id=\"364\" data-selector=\"364-MajorSearch[departmentId]\">            <input type=\"hidden\" name=\"input\" data-type=\"MajorSearch[departmentId]\" data-id=\"363\" data-selector=\"363-MajorSearch[departmentId]\">            <input type=\"hidden\" name=\"input\" data-type=\"MajorSearch[departmentId]\" data-id=\"362\" data-selector=\"362-MajorSearch[departmentId]\">            <input type=\"hidden\" name=\"input\" data-type=\"MajorSearch[departmentId]\" data-id=\"361\" data-selector=\"361-MajorSearch[departmentId]\">            <input type=\"hidden\" name=\"input\" data-type=\"MajorSearch[departmentId]\" data-id=\"360\" data-selector=\"360-MajorSearch[departmentId]\">            <input type=\"hidden\" name=\"input\" data-type=\"MajorSearch[departmentId]\" data-id=\"359\" data-selector=\"359-MajorSearch[departmentId]\">            <input type=\"hidden\" name=\"input\" data-type=\"MajorSearch[departmentId]\" data-id=\"358\" data-selector=\"358-MajorSearch[departmentId]\">            <input type=\"hidden\" name=\"input\" data-type=\"MajorSearch[departmentId]\" data-id=\"357\" data-selector=\"357-MajorSearch[departmentId]\">            <input type=\"hidden\" name=\"input\" data-type=\"MajorSearch[departmentId]\" data-id=\"356\" data-selector=\"356-MajorSearch[departmentId]\">            <input type=\"hidden\" name=\"input\" data-type=\"MajorSearch[departmentId]\" data-id=\"355\" data-selector=\"355-MajorSearch[departmentId]\">            <input type=\"hidden\" name=\"input\" data-type=\"MajorSearch[departmentId]\" data-id=\"354\" data-selector=\"354-MajorSearch[departmentId]\">            <input type=\"hidden\" name=\"input\" data-type=\"MajorSearch[departmentId]\" data-id=\"353\" data-selector=\"353-MajorSearch[departmentId]\">            <input type=\"hidden\" name=\"input\" data-type=\"MajorSearch[departmentId]\" data-id=\"352\" data-selector=\"352-MajorSearch[departmentId]\">            <input type=\"hidden\" name=\"input\" data-type=\"MajorSearch[departmentId]\" data-id=\"351\" data-selector=\"351-MajorSearch[departmentId]\">            <input type=\"hidden\" name=\"input\" data-type=\"MajorSearch[departmentId]\" data-id=\"350\" data-selector=\"350-MajorSearch[departmentId]\">            <input type=\"hidden\" name=\"input\" data-type=\"MajorSearch[departmentId]\" data-id=\"349\" data-selector=\"349-MajorSearch[departmentId]\">            <input type=\"hidden\" name=\"input\" data-type=\"MajorSearch[departmentId]\" data-id=\"348\" data-selector=\"348-MajorSearch[departmentId]\">            <input type=\"hidden\" name=\"input\" data-type=\"MajorSearch[departmentId]\" data-id=\"347\" data-selector=\"347-MajorSearch[departmentId]\">            <input type=\"hidden\" name=\"input\" data-type=\"MajorSearch[departmentId]\" data-id=\"346\" data-selector=\"346-MajorSearch[departmentId]\">            <input type=\"hidden\" name=\"input\" data-type=\"MajorSearch[departmentId]\" data-id=\"345\" data-selector=\"345-MajorSearch[departmentId]\">            <input type=\"hidden\" name=\"input\" data-type=\"MajorSearch[departmentId]\" data-id=\"344\" data-selector=\"344-MajorSearch[departmentId]\">            <input type=\"hidden\" name=\"input\" data-type=\"MajorSearch[departmentId]\" data-id=\"343\" data-selector=\"343-MajorSearch[departmentId]\">            <input type=\"hidden\" name=\"input\" data-type=\"MajorSearch[departmentId]\" data-id=\"342\" data-selector=\"342-MajorSearch[departmentId]\">            <input type=\"hidden\" name=\"input\" data-type=\"MajorSearch[departmentId]\" data-id=\"341\" data-selector=\"341-MajorSearch[departmentId]\">            <input type=\"hidden\" name=\"input\" data-type=\"MajorSearch[departmentId]\" data-id=\"340\" data-selector=\"340-MajorSearch[departmentId]\">            <input type=\"hidden\" name=\"input\" data-type=\"MajorSearch[departmentId]\" data-id=\"339\" data-selector=\"339-MajorSearch[departmentId]\">            <input type=\"hidden\" name=\"input\" data-type=\"MajorSearch[departmentId]\" data-id=\"338\" data-selector=\"338-MajorSearch[departmentId]\">            <input type=\"hidden\" name=\"input\" data-type=\"MajorSearch[departmentId]\" data-id=\"337\" data-selector=\"337-MajorSearch[departmentId]\">            <input type=\"hidden\" name=\"input\" data-type=\"MajorSearch[departmentId]\" data-id=\"336\" data-selector=\"336-MajorSearch[departmentId]\">            <input type=\"hidden\" name=\"input\" data-type=\"MajorSearch[departmentId]\" data-id=\"335\" data-selector=\"335-MajorSearch[departmentId]\">            <input type=\"hidden\" name=\"input\" data-type=\"MajorSearch[departmentId]\" data-id=\"334\" data-selector=\"334-MajorSearch[departmentId]\">            <input type=\"hidden\" name=\"input\" data-type=\"MajorSearch[departmentId]\" data-id=\"333\" data-selector=\"333-MajorSearch[departmentId]\">            <input type=\"hidden\" name=\"input\" data-type=\"MajorSearch[departmentId]\" data-id=\"332\" data-selector=\"332-MajorSearch[departmentId]\">            <input type=\"hidden\" name=\"input\" data-type=\"MajorSearch[departmentId]\" data-id=\"331\" data-selector=\"331-MajorSearch[departmentId]\">            <input type=\"hidden\" name=\"input\" data-type=\"MajorSearch[departmentId]\" data-id=\"330\" data-selector=\"330-MajorSearch[departmentId]\">            <input type=\"hidden\" name=\"input\" data-type=\"MajorSearch[departmentId]\" data-id=\"329\" data-selector=\"329-MajorSearch[departmentId]\">            <input type=\"hidden\" name=\"input\" data-type=\"MajorSearch[departmentId]\" data-id=\"328\" data-selector=\"328-MajorSearch[departmentId]\">            <input type=\"hidden\" name=\"input\" data-type=\"MajorSearch[departmentId]\" data-id=\"327\" data-selector=\"327-MajorSearch[departmentId]\">            <input type=\"hidden\" name=\"input\" data-type=\"MajorSearch[departmentId]\" data-id=\"326\" data-selector=\"326-MajorSearch[departmentId]\">            <input type=\"hidden\" name=\"input\" data-type=\"MajorSearch[departmentId]\" data-id=\"325\" data-selector=\"325-MajorSearch[departmentId]\">            <input type=\"hidden\" name=\"input\" data-type=\"MajorSearch[departmentId]\" data-id=\"324\" data-selector=\"324-MajorSearch[departmentId]\">            <input type=\"hidden\" name=\"input\" data-type=\"MajorSearch[departmentId]\" data-id=\"323\" data-selector=\"323-MajorSearch[departmentId]\">            <input type=\"hidden\" name=\"input\" data-type=\"MajorSearch[departmentId]\" data-id=\"322\" data-selector=\"322-MajorSearch[departmentId]\">            <input type=\"hidden\" name=\"input\" data-type=\"MajorSearch[departmentId]\" data-id=\"321\" data-selector=\"321-MajorSearch[departmentId]\">            <input type=\"hidden\" name=\"input\" data-type=\"MajorSearch[departmentId]\" data-id=\"320\" data-selector=\"320-MajorSearch[departmentId]\">            <input type=\"hidden\" name=\"input\" data-type=\"MajorSearch[departmentId]\" data-id=\"319\" data-selector=\"319-MajorSearch[departmentId]\">            <input type=\"hidden\" name=\"input\" data-type=\"MajorSearch[departmentId]\" data-id=\"318\" data-selector=\"318-MajorSearch[departmentId]\">            <input type=\"hidden\" name=\"input\" data-type=\"MajorSearch[departmentId]\" data-id=\"317\" data-selector=\"317-MajorSearch[departmentId]\">            <input type=\"hidden\" name=\"input\" data-type=\"MajorSearch[departmentId]\" data-id=\"316\" data-selector=\"316-MajorSearch[departmentId]\">            <input type=\"hidden\" name=\"input\" data-type=\"MajorSearch[departmentId]\" data-id=\"314\" data-selector=\"314-MajorSearch[departmentId]\">            <input type=\"hidden\" name=\"input\" data-type=\"MajorSearch[departmentId]\" data-id=\"313\" data-selector=\"313-MajorSearch[departmentId]\">            <input type=\"hidden\" name=\"input\" data-type=\"MajorSearch[departmentId]\" data-id=\"312\" data-selector=\"312-MajorSearch[departmentId]\">            <input type=\"hidden\" name=\"input\" data-type=\"MajorSearch[departmentId]\" data-id=\"311\" data-selector=\"311-MajorSearch[departmentId]\">            <input type=\"hidden\" name=\"input\" data-type=\"MajorSearch[departmentId]\" data-id=\"310\" data-selector=\"310-MajorSearch[departmentId]\">            <input type=\"hidden\" name=\"input\" data-type=\"MajorSearch[departmentId]\" data-id=\"309\" data-selector=\"309-MajorSearch[departmentId]\">            <input type=\"hidden\" name=\"input\" data-type=\"MajorSearch[departmentId]\" data-id=\"308\" data-selector=\"308-MajorSearch[departmentId]\">            <input type=\"hidden\" name=\"input\" data-type=\"MajorSearch[departmentId]\" data-id=\"307\" data-selector=\"307-MajorSearch[departmentId]\">            <input type=\"hidden\" name=\"input\" data-type=\"MajorSearch[departmentId]\" data-id=\"306\" data-selector=\"306-MajorSearch[departmentId]\">            <input type=\"hidden\" name=\"input\" data-type=\"MajorSearch[departmentId]\" data-id=\"305\" data-selector=\"305-MajorSearch[departmentId]\">            <input type=\"hidden\" name=\"input\" data-type=\"MajorSearch[departmentId]\" data-id=\"304\" data-selector=\"304-MajorSearch[departmentId]\">            <input type=\"hidden\" name=\"input\" data-type=\"MajorSearch[departmentId]\" data-id=\"303\" data-selector=\"303-MajorSearch[departmentId]\">            <input type=\"hidden\" name=\"input\" data-type=\"MajorSearch[departmentId]\" data-id=\"302\" data-selector=\"302-MajorSearch[departmentId]\">            <input type=\"hidden\" name=\"input\" data-type=\"MajorSearch[departmentId]\" data-id=\"301\" data-selector=\"301-MajorSearch[departmentId]\">            <input type=\"hidden\" name=\"input\" data-type=\"MajorSearch[departmentId]\" data-id=\"300\" data-selector=\"300-MajorSearch[departmentId]\">            <input type=\"hidden\" name=\"input\" data-type=\"MajorSearch[departmentId]\" data-id=\"299\" data-selector=\"299-MajorSearch[departmentId]\">            <input type=\"hidden\" name=\"input\" data-type=\"MajorSearch[departmentId]\" data-id=\"298\" data-selector=\"298-MajorSearch[departmentId]\">            <input type=\"hidden\" name=\"input\" data-type=\"MajorSearch[departmentId]\" data-id=\"297\" data-selector=\"297-MajorSearch[departmentId]\">            <input type=\"hidden\" name=\"input\" data-type=\"MajorSearch[departmentId]\" data-id=\"296\" data-selector=\"296-MajorSearch[departmentId]\">            <input type=\"hidden\" name=\"input\" data-type=\"MajorSearch[departmentId]\" data-id=\"295\" data-selector=\"295-MajorSearch[departmentId]\">            <input type=\"hidden\" name=\"input\" data-type=\"MajorSearch[departmentId]\" data-id=\"294\" data-selector=\"294-MajorSearch[departmentId]\">            <input type=\"hidden\" name=\"input\" data-type=\"MajorSearch[departmentId]\" data-id=\"293\" data-selector=\"293-MajorSearch[departmentId]\">            <input type=\"hidden\" name=\"input\" data-type=\"MajorSearch[departmentId]\" data-id=\"292\" data-selector=\"292-MajorSearch[departmentId]\">            <input type=\"hidden\" name=\"input\" data-type=\"MajorSearch[departmentId]\" data-id=\"291\" data-selector=\"291-MajorSearch[departmentId]\">            <input type=\"hidden\" name=\"input\" data-type=\"MajorSearch[departmentId]\" data-id=\"290\" data-selector=\"290-MajorSearch[departmentId]\">            <input type=\"hidden\" name=\"input\" data-type=\"MajorSearch[departmentId]\" data-id=\"289\" data-selector=\"289-MajorSearch[departmentId]\">            <input type=\"hidden\" name=\"input\" data-type=\"MajorSearch[departmentId]\" data-id=\"288\" data-selector=\"288-MajorSearch[departmentId]\">            <input type=\"hidden\" name=\"input\" data-type=\"MajorSearch[departmentId]\" data-id=\"287\" data-selector=\"287-MajorSearch[departmentId]\">            <input type=\"hidden\" name=\"input\" data-type=\"MajorSearch[departmentId]\" data-id=\"286\" data-selector=\"286-MajorSearch[departmentId]\">            <input type=\"hidden\" name=\"input\" data-type=\"MajorSearch[departmentId]\" data-id=\"285\" data-selector=\"285-MajorSearch[departmentId]\">            <input type=\"hidden\" name=\"input\" data-type=\"MajorSearch[departmentId]\" data-id=\"284\" data-selector=\"284-MajorSearch[departmentId]\">            <input type=\"hidden\" name=\"input\" data-type=\"MajorSearch[departmentId]\" data-id=\"283\" data-selector=\"283-MajorSearch[departmentId]\">            <input type=\"hidden\" name=\"input\" data-type=\"MajorSearch[departmentId]\" data-id=\"282\" data-selector=\"282-MajorSearch[departmentId]\">            <input type=\"hidden\" name=\"input\" data-type=\"MajorSearch[departmentId]\" data-id=\"281\" data-selector=\"281-MajorSearch[departmentId]\">            <input type=\"hidden\" name=\"input\" data-type=\"MajorSearch[departmentId]\" data-id=\"280\" data-selector=\"280-MajorSearch[departmentId]\">            <input type=\"hidden\" name=\"input\" data-type=\"MajorSearch[departmentId]\" data-id=\"279\" data-selector=\"279-MajorSearch[departmentId]\">            <input type=\"hidden\" name=\"input\" data-type=\"MajorSearch[departmentId]\" data-id=\"278\" data-selector=\"278-MajorSearch[departmentId]\">            <input type=\"hidden\" name=\"input\" data-type=\"MajorSearch[departmentId]\" data-id=\"277\" data-selector=\"277-MajorSearch[departmentId]\">            <input type=\"hidden\" name=\"input\" data-type=\"MajorSearch[departmentId]\" data-id=\"276\" data-selector=\"276-MajorSearch[departmentId]\">            <input type=\"hidden\" name=\"input\" data-type=\"MajorSearch[departmentId]\" data-id=\"275\" data-selector=\"275-MajorSearch[departmentId]\">            <input type=\"hidden\" name=\"input\" data-type=\"MajorSearch[departmentId]\" data-id=\"274\" data-selector=\"274-MajorSearch[departmentId]\">            <input type=\"hidden\" name=\"input\" data-type=\"MajorSearch[departmentId]\" data-id=\"273\" data-selector=\"273-MajorSearch[departmentId]\">            <input type=\"hidden\" name=\"input\" data-type=\"MajorSearch[departmentId]\" data-id=\"272\" data-selector=\"272-MajorSearch[departmentId]\">            <input type=\"hidden\" name=\"input\" data-type=\"MajorSearch[departmentId]\" data-id=\"271\" data-selector=\"271-MajorSearch[departmentId]\">            <input type=\"hidden\" name=\"input\" data-type=\"MajorSearch[departmentId]\" data-id=\"270\" data-selector=\"270-MajorSearch[departmentId]\">            <input type=\"hidden\" name=\"input\" data-type=\"MajorSearch[departmentId]\" data-id=\"269\" data-selector=\"269-MajorSearch[departmentId]\">            <input type=\"hidden\" name=\"input\" data-type=\"MajorSearch[departmentId]\" data-id=\"268\" data-selector=\"268-MajorSearch[departmentId]\">            <input type=\"hidden\" name=\"input\" data-type=\"MajorSearch[departmentId]\" data-id=\"267\" data-selector=\"267-MajorSearch[departmentId]\">            <input type=\"hidden\" name=\"input\" data-type=\"MajorSearch[departmentId]\" data-id=\"266\" data-selector=\"266-MajorSearch[departmentId]\">            <input type=\"hidden\" name=\"input\" data-type=\"MajorSearch[departmentId]\" data-id=\"265\" data-selector=\"265-MajorSearch[departmentId]\">            <input type=\"hidden\" name=\"input\" data-type=\"MajorSearch[departmentId]\" data-id=\"264\" data-selector=\"264-MajorSearch[departmentId]\">            <input type=\"hidden\" name=\"input\" data-type=\"MajorSearch[departmentId]\" data-id=\"315\" data-selector=\"315-MajorSearch[departmentId]\">    </div>\n\n            </div>\n        </div>\n    </div>\n</section>\n\n<section class=\"important-links\">\n    <div class=\"container\">\n        <div class=\"col-xs-12\">\n            <!-- Banner --> \n        </div>\n    </div>\n</section>\n\n    <footer>\n    <div class=\"container\">\n        <div class=\"row\">\n            <div class=\"col-sm-6 col-md-3\">\n                <!-- Banner --> \n            </div>\n            <div class=\"col-sm-6 col-md-3\">\n                <!-- SimpleMenu --> \n\n<div class=\"menu-widget-simple widget \">\n        <ul class=\" list-unstyled list-unstyled\">\n\n                    <li class=\"medium-font normal-font-weight\">\n                                <a class=\" \" href=\"https://kashanu.ac.ir/en/sitemap\" target=\"_self\">Site Map</a>            </li>\n                                <li class=\"medium-font normal-font-weight\">\n                                <a class=\" \" href=\"https://kashanu.ac.ir/en/organizationChart/492/organizational-chart-at-the-university-of-kashan\" target=\"_self\">Organizational Chart</a>            </li>\n                        </ul>\n</div>\n            </div>\n            <div class=\"col-sm-6 col-md-3\">\n                <!-- ContactInfo --> \n\n<script type=\"application/ld+json\">{\"@context\":\"https://schema.org\",\"@type\":\"University\",\"address\":{\"@type\":\"PostalAddress\",\"streetAddress\":\"\",\"postalCode\":\"8731753153\",\"addressCountry\":\"IRAN\"},\"telephone\":\"+98 - (31) 55912124-5\",\"openingHoursSpecification\":[{\"@type\":\"OpeningHoursSpecification\",\"dayOfWeek\":[\"Thursday\",\"Tuesday\",\"Saturday\",\"Sunday\",\"Wednesday\",\"Monday\"],\"opens\":\"Saturday to Wednesday - 7:30 - 15:30\"}]}</script>\n<div class=\"contactinfo-widget widget \">\n\t\t\t<h3 class=\"title\">Contact Us</h3>\n\t\t<ul class=\"list-unstyled\">\n\t\t\t\t\t\t\t<li>\n\t\t\t\t<i class=\"fa fa-at fa-fw\"></i>\n\t\t\t\t<p class=\"info\">\n\t\t\t\t\t<span class=\"info-label\">\n\t\t\t\t\t\tEmail:\n\t\t\t\t\t</span>\n\t\t\t\t\t<span class=\"ltr-text\">\n\t\t\t\t\t\t\t\t\t\t\t\t\t<a href=\"mailto:int.office@kashanu.ac.ir\">int.office@kashanu.ac.ir</a>\t\t\t\t\t\t\t\t\t\t\t</span>\n\t\t\t\t</p>\n\t\t\t</li>\n\t\t\t\t\t\t\t<li>\n\t\t\t\t<i class=\"fa fa-phone fa-fw\"></i>\n\t\t\t\t<p class=\"info\">\n\t\t\t\t\t<span class=\"info-label\">\n\t\t\t\t\t\tPhone Number:\n\t\t\t\t\t</span>\n\t\t\t\t\t<span class=\"ltr-text\">\n\t\t\t\t\t\t+98 - (31) 55912124-5\t\t\t\t\t</span>\n\t\t\t\t</p>\n\t\t\t</li>\n\t\t\t\t\t\t\t<li>\n\t\t\t\t<i class=\"fa fa-fax fa-fw\"></i>\n\t\t\t\t<p class=\"info\">\n\t\t\t\t\t<span class=\"info-label\">\n\t\t\t\t\t\tFax:\n\t\t\t\t\t</span>\n\t\t\t\t\t<span class=\"ltr-text\">\n\t\t\t\t\t\t+98 - (31) 55911121\t\t\t\t\t</span>\n\t\t\t\t</p>\n\t\t\t</li>\n\t\t\t\t\t\t\t<li>\n\t\t\t\t<i class=\"fa fa-envelope fa-fw\"></i>\n\t\t\t\t<p class=\"info\">\n\t\t\t\t\t<span class=\"info-label\">\n\t\t\t\t\t\tPostal Code:\t\t\t\t\t</span>\n\t\t\t\t\t<span class=\"ltr-text\">\n\t\t\t\t\t\t8731753153\t\t\t\t\t</span>\n\t\t\t\t</p>\n\t\t\t</li>\n\t\t\t\t\t\t\t\t\t<li>\n\t\t\t\t<i class=\"fa fa-clock-o fa-fw\"></i>\n\t\t\t\t<p class=\"info\">\n\t\t\t\t\t<span class=\"info-label\">\n\t\t\t\t\t\tOpening Hours:\n\t\t\t\t\t</span>\n\t\t\t\t\tSaturday to Wednesday - 7:30 - 15:30\t\t\t\t</p>\n\t\t\t</li>\n\t\t\t\t\t\t<div class=\"contact-us-map-wrapper\">\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t</div>\n\t\t\t</ul>\n</div>\n            </div>\n            <div class=\"col-sm-6 col-md-3\">\n                <img class=\"img-responsive center-block\" id='drftsguirgvlsguihwla' style='cursor:pointer' onclick='window.open(\"https://trustseal.enamad.ir/Verify.aspx?id=10504&p=nbpddrfsyncrdrfsodsh\", \"Popup\",\"toolbar=no, location=no, statusbar=no, menubar=no, scrollbars=1, resizable=0, width=580, height=600, top=30\")' alt='' src='https://trustseal.enamad.ir/logo.aspx?id=10504&p=lznbgthvfujygthvaods'/>\n                <!-- SiteChanger --> \n\n<div class=\"quick-links-widget widget site-changer-widget\">\n    <div class=\"kv-plugin-loading loading-siteChanger\">&nbsp;</div><select id=\"siteChanger\" class=\"form-control\" name=\"selectedWebsite\" dir=\"ltr\" data-s2-options=\"s2options_d6851687\" data-krajee-select2=\"select2_26437cd1\" style=\"width: 1px; height: 1px; visibility: hidden;\">\n<option value=\"\">Choose website</option>\n<option value=\"https://sus-develop.kashanu.ac.ir/en\" data-value=\"https://sus-develop.kashanu.ac.ir/en\">Applied Science Center for Water, Drought, and Climate Change</option>\n<option value=\"https://cdc.kashanu.ac.ir/en\" data-value=\"https://cdc.kashanu.ac.ir/en\">Carpet Documentation Center</option>\n<option value=\"https://csmart.kashanu.ac.ir/en\" data-value=\"https://csmart.kashanu.ac.ir/en\">Center for Smart Grid Research and Technology Development</option>\n<option value=\"https://azfa.kashanu.ac.ir/en\" data-value=\"https://azfa.kashanu.ac.ir/en\">Center for Teaching Persian to Non-Native Speakers</option>\n<option value=\"https://cnrl.kashanu.ac.ir/en\" data-value=\"https://cnrl.kashanu.ac.ir/en\">Composites and Nano-composites Research Laboratory</option>\n<option value=\"https://cacna2014.kashanu.ac.ir/en\" data-value=\"https://cacna2014.kashanu.ac.ir/en\">Computational Algebra, Computational Number Theory and Applications</option>\n<option value=\"https://energy-research.kashanu.ac.ir/en\" data-value=\"https://energy-research.kashanu.ac.ir/en\">Energy Research Institute</option>\n<option value=\"https://eori.kashanu.ac.ir/en\" data-value=\"https://eori.kashanu.ac.ir/en\">Essential Oils Research Institute</option>\n<option value=\"https://chemistry.kashanu.ac.ir/en\" data-value=\"https://chemistry.kashanu.ac.ir/en\">Faculty Of Chemistry</option>\n<option value=\"https://engineering.kashanu.ac.ir/en\" data-value=\"https://engineering.kashanu.ac.ir/en\">Faculty Of Engineering</option>\n<option value=\"https://mechanic.kashanu.ac.ir/en\" data-value=\"https://mechanic.kashanu.ac.ir/en\">Faculty Of Mechanical Engineering</option>\n<option value=\"https://physics.kashanu.ac.ir/en\" data-value=\"https://physics.kashanu.ac.ir/en\">Faculty Of Physics</option>\n<option value=\"https://fc.kashanu.ac.ir/en\" data-value=\"https://fc.kashanu.ac.ir/en\">Faculty council</option>\n<option value=\"https://archart.kashanu.ac.ir/en\" data-value=\"https://archart.kashanu.ac.ir/en\">Faculty of Architecture and Arts</option>\n<option value=\"https://ece.kashanu.ac.ir/en\" data-value=\"https://ece.kashanu.ac.ir/en\">Faculty of Electrical And Computer Engineering</option>\n<option value=\"https://human-science.kashanu.ac.ir/en\" data-value=\"https://human-science.kashanu.ac.ir/en\">Faculty of Humanities</option>\n<option value=\"https://literature.kashanu.ac.ir/en\" data-value=\"https://literature.kashanu.ac.ir/en\">Faculty of Literature and Foreign Languages</option>\n<option value=\"https://math.kashanu.ac.ir/en\" data-value=\"https://math.kashanu.ac.ir/en\">Faculty of Mathematics</option>\n<option value=\"https://fnres.kashanu.ac.ir/en\" data-value=\"https://fnres.kashanu.ac.ir/en\">Faculty of Natural Resources and Earth Sciences</option>\n<option value=\"https://gmu.kashanu.ac.ir/en\" data-value=\"https://gmu.kashanu.ac.ir/en\">Green management</option>\n<option value=\"https://grouptheory.kashanu.ac.ir/en\" data-value=\"https://grouptheory.kashanu.ac.ir/en\">Group Theory</option>\n<option value=\"https://industry.kashanu.ac.ir/en\" data-value=\"https://industry.kashanu.ac.ir/en\">Industry Affiliates Program</option>\n<option value=\"https://nano.kashanu.ac.ir/en\" data-value=\"https://nano.kashanu.ac.ir/en\">Institute of Nanoscience and Nanotechnology</option>\n<option value=\"https://icnn2012.kashanu.ac.ir/en\" data-value=\"https://icnn2012.kashanu.ac.ir/en\">International Congress on Nanoscience and Nanotechnology; 8-10 Sep. 2012, Kashan, Iran</option>\n<option value=\"https://intl.kashanu.ac.ir/en\" data-value=\"https://intl.kashanu.ac.ir/en\">International Scientific Cooperation Office</option>\n<option value=\"https://crc.kashanu.ac.ir/en\" data-value=\"https://crc.kashanu.ac.ir/en\">Iran Carpet Research Center</option>\n<option value=\"https://management.kashanu.ac.ir/en\" data-value=\"https://management.kashanu.ac.ir/en\">Management and Economics Faculty</option>\n<option value=\"https://online.kashanu.ac.ir/en\" data-value=\"https://online.kashanu.ac.ir/en\">Online Courses</option>\n<option value=\"https://pardis.kashanu.ac.ir/en\" data-value=\"https://pardis.kashanu.ac.ir/en\">Pardis Faculty</option>\n<option value=\"https://arch-research.kashanu.ac.ir/en\" data-value=\"https://arch-research.kashanu.ac.ir/en\">Research Center for Architecture and Urbanism</option>\n<option value=\"https://mpk.kashanu.ac.ir/en\" data-value=\"https://mpk.kashanu.ac.ir/en\">Research Center for Kashan Studies</option>\n<option value=\"https://icrd.kashanu.ac.ir/en\" data-value=\"https://icrd.kashanu.ac.ir/en\">Rosa Damascena Conference</option>\n<option value=\"https://cacna2015.kashanu.ac.ir/en\" data-value=\"https://cacna2015.kashanu.ac.ir/en\">Second Computational Algebra and Computational Number Theory</option>\n<option value=\"https://cacna2018.kashanu.ac.ir/en\" data-value=\"https://cacna2018.kashanu.ac.ir/en\">Third Conference on Computational Algebra, Computational Number Theory and Applications (CACNA ۲۰۱۸)</option>\n<option value=\"https://www.kashanu.ac.ir/en\" data-value=\"https://www.kashanu.ac.ir/en\">University of Kashan</option>\n<option value=\"https://uko.kashanu.ac.ir/en\" data-value=\"https://uko.kashanu.ac.ir/en\">University of Kashan Observatory</option>\n<option value=\"https://culture.kashanu.ac.ir/en\" data-value=\"https://culture.kashanu.ac.ir/en\">Vice-Chancellor for Culture</option>\n<option value=\"https://development.kashanu.ac.ir/en\" data-value=\"https://development.kashanu.ac.ir/en\">Vice-Chancellor for Development</option>\n<option value=\"https://education.kashanu.ac.ir/en\" data-value=\"https://education.kashanu.ac.ir/en\">Vice-Chancellor for Education</option>\n<option value=\"https://administration.kashanu.ac.ir/en\" data-value=\"https://administration.kashanu.ac.ir/en\">Vice-Chancellor for Finance</option>\n<option value=\"https://finance.kashanu.ac.ir/en\" data-value=\"https://finance.kashanu.ac.ir/en\">Vice-Chancellor for Finance, Administration, and Resource Management</option>\n<option value=\"https://research.kashanu.ac.ir/en\" data-value=\"https://research.kashanu.ac.ir/en\">Vice-Chancellor for Research</option>\n<option value=\"https://student.kashanu.ac.ir/en\" data-value=\"https://student.kashanu.ac.ir/en\">Vice-Chancellor for Students</option>\n</select></div>\n\n\n            </div>\n        </div>\n    </div>\n    <div class=\"copyright\">\n        <div class=\"container\">\n            <div class=\"row\">\n                <div class=\"col-sm-6\">\n                    <!-- SimpleMenu --> \n\n                </div>\n                <div class=\"col-sm-6 copyright-container\">\n                    © ALL RIGHT RESERVED BY UNIVERSITY OF KASHAN  |\n                    Desined By :                    <a class=\"aca-co\" href=\"http://aca.ir\" target=\"_blank\">\n                        A.C.A CO\n                    </a>\n                </div>\n            </div>\n        </div>\n    </div>\n</footer>\n\n    <script src=\"/assets/dbe8b6cc/jquery.min.js?v=1713014612\"></script>\n<script src=\"/assets/3738e528/js/bootstrap.min.js?v=1713014612\"></script>\n<script src=\"/assets/d7d1923/back-to-top.js?v=1713014613\"></script>\n<script src=\"/assets/c82f2c32/yii.js?v=1713014612\"></script>\n<script src=\"/assets/a7a9c498/js/translate.js?v=1713014613\"></script>\n<script src=\"/assets/b06e0ed7/js/app.js?v=1713014612\"></script>\n<script src=\"/assets/b3255c9e/main.js?v=1713014612\"></script>\n<script src=\"/assets/835212c6/dist/owl.carousel.min.js?v=1713014636\"></script>\n<script src=\"/assets/7664142a/js/achievementColors.js?v=1713014649\"></script>\n<script src=\"/assets/efb576ab/js/select2.full.min.js?v=1713014613\"></script>\n<script src=\"/assets/638585eb/js/select2-krajee.min.js?v=1713014613\"></script>\n<script src=\"/assets/63566996/js/kv-widgets.min.js?v=1713014613\"></script>\n<script>jQuery(function ($) {\n\n        $('#one-slide').owlCarousel({\n            \n        items : 1,\n        autoplay: true,\n        autoplayTimeout: 7000,\n        autoplaySpeed : 300,\n        autoplayHoverPause: true,\n        loop : true,\n        nav: true,\n        navText : [\n        '<i class=\"fa fa-chevron-left\"></i>',\n        '<i class=\"fa fa-chevron-right\"></i>'\n        ],\n        dots : false,\n        rtl: true,\n        \n        });\n    \n\n\t\t\tvar achiOwl = $('#PBAchievements-');\n\t\t\tachiOwl.owlCarousel({\n\t\t\tautoplay: true,\n\t\t\tautoplayTimeout: 7000,\n\t\t\tautoplaySpeed : 300,\n\t\t\tresponsive :\n\t\t\t{\n\t\t\t\t0: {\n\t\t\t\t\titems:1\n\t\t\t\t},\n\t\t\t\t768: {\n\t\t\t\t\titems:2\n\t\t\t\t},\n\t\t\t\t992: {\n\t\t\t\t\titems:4\n\t\t\t\t}\n\t\t\t},\n\t\t\tnav: false,\n\t\t\tmargin: 15,\n\t\t\tloop: false,\n\t\t\tdots: false,\n\t\t\t\n\t\t});\n\t\tvar apStatus = 'stop';\n\t\t$(window).scroll(function() {\n\t\t\t\tvar achiO = achiOwl.offset().top,\n\t\t\t\t\t\tachiH = achiOwl.outerHeight()/4,\n\t\t\t\t\t\twH = $(window).height(),\n\t\t\t\t\t\twS = $(this).scrollTop();\n\t\t\t\tif (wS > (achiO+achiH-wH) && (apStatus == 'stop')) {\n\t\t\t\t\t\tachiOwl.trigger('play.owl.autoplay');\n\t\t\t\t\t\tapStatus = 'play';\n\t\t\t\t} else if (wS <= (achiO+achiH-wH) && (apStatus == 'play')) {\n\t\t\t\t\t\tachiOwl.trigger('stop.owl.autoplay');\n\t\t\t\t\t\tachiOwl.trigger('to.owl.carousel', [0, 300, true]);\n\t\t\t\t\t\tapStatus = 'stop';\n\t\t\t\t}\n\t\t});\n\t\t\njQuery&&jQuery.pjax&&(jQuery.pjax.defaults.maxCacheLength=0);\nif (jQuery('#major-list-widget').data('select2')) { jQuery('#major-list-widget').select2('destroy'); }\njQuery.when(jQuery('#major-list-widget').select2(select2_1f7b788e)).done(initS2Loading('major-list-widget','s2options_d6851687'));\n\n\n    $('#major-list-widget').on('change', function(e) {\n        var data = $('#major-list-widget option:selected').attr('data-value');\n        var x = $('input[data-selector=\"' + data + '\"]');\n        var info = $('#infoName').val();\n        var dataId = x.attr('data-id');\n        var dataType = x.attr('data-type');\n        if(info !== null){\n            window.location.href = 'https://kashanu.ac.ir/en/major' + '?' + dataType + '=' + dataId + '&MajorSearch[infoName]=' + info;\n        } else{\n            window.location.href = 'https://kashanu.ac.ir/en/major' + '?' + dataType + '=' + dataId;\n        }\n     });\n\njQuery('#widget-config-modal').modal({\"show\":false,\"backdrop\":false});\nif (jQuery('#siteChanger').data('select2')) { jQuery('#siteChanger').select2('destroy'); }\njQuery.when(jQuery('#siteChanger').select2(select2_26437cd1)).done(initS2Loading('siteChanger','s2options_d6851687'));\n\n\n    $('#siteChanger').on('change', function(e) {\n        var data = $('#siteChanger option:selected').attr('data-value');\n        if(data !== null){\n            window.location = data;\n        }\n     });\n\n});</script></body>\n</html>\n",
        "output": "str",
        "x": 530,
        "y": 180,
        "wires": [
            [
                "224c85e5274eae7f"
            ]
        ]
    },
    {
        "id": "224c85e5274eae7f",
        "type": "http response",
        "z": "365535fbe871ce9b",
        "name": "kashan uni",
        "statusCode": "",
        "headers": {},
        "x": 710,
        "y": 180,
        "wires": []
    },
    {
        "id": "469e2579131bd2cd",
        "type": "http in",
        "z": "365535fbe871ce9b",
        "name": "",
        "url": "/kashan-uni",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 340,
        "y": 180,
        "wires": [
            [
                "e3ed5f3f131271f4"
            ]
        ]
    }
]